.sprite{
  background-image: url('/images/css_sprites.png');
}
.sprite_bank {
   width: 38px; height: 34px;
   background-position:  -10px -993px;
 }
.sprite_butterfly {
  width: 32px; height: 31px;
  background-position:  -10px -891px;
}
.sprite_cachebox {
  width: 28px; height: 27px;
  background-position:  -10px -356px;
}
.sprite_case {
  width: 29px; height: 25px;
  background-position:  -10px -175px;
}
.sprite_checks {
  width: 37px; height: 18px;
  background-position:  -10px -10px;
}
.sprite_clouds {
  width: 28px; height: 21px;
  background-position:  -10px -48px;
}
.sprite_compare {
  width: 27px; height: 25px;
  background-position:  -10px -220px;
}
.sprite_download {
  width: 20px; height: 27px;
  background-position:  -10px -403px;
}
.sprite_fingerprints {
  width: 23px; height: 31px;
  background-position:  -10px -942px;
}
.sprite_fireworks {
  width: 26px; height: 37px;
  background-position:  -10px -1047px;
}
.sprite_goods {
  width: 30px; height: 22px;
  background-position:  -10px -89px;
}
.sprite_helpdesc {
  width: 30px; height: 30px;
  background-position:  -10px -691px;
}
.sprite_lecture {
  width: 28px; height: 28px;
  background-position:  -10px -497px;
}
.sprite_open_book {
  width: 33px; height: 24px;
  background-position:  -10px -131px;
}
.sprite_owl {
  width: 29px; height: 27px;
  background-position:  -10px -450px;
}
.sprite_penta {
  width: 28px; height: 26px;
  background-position:  -10px -310px;
}
.sprite_reports {
  width: 32px; height: 30px;
  background-position:  -10px -741px;
}
.sprite_sign {
  width: 21px; height: 28px;
  background-position:  -10px -545px;
}
.sprite_spark {
  width: 30px; height: 25px;
  background-position:  -10px -265px;
}
.sprite_storage {
  width: 27px; height: 29px;
  background-position:  -10px -642px;
}
.sprite_taxes {
  width: 30px; height: 29px;
  background-position:  -10px -593px;
}
.sprite_web {
  width: 30px; height: 30px;
  background-position:  -10px -791px;
}
.sprite_web_cart {
  width: 29px; height: 30px;
  background-position:  -10px -841px;
}

.sprite__list{
  width: 1170px;
  padding-left: 30px;
  padding-right: 30px;
  margin: auto;
  display: block;
}
.sprite__item{
  width: 50%;
  text-align: center;
  float: left;
  margin-bottom: 34px;
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
.sprite__icon-box{
  height: 50px;
  width: 50px;
  line-height: 38px;
  border: solid 2px #ca0b10;
  display: inline-block;
  margin-bottom: 23px;
  position: relative;
  @include border-radius(50%);
}
.sprite__icon{
  position: absolute;
  top: 50%;
  left: 50%;
  @include transform(translate(-50%, -50%));
}
.sprite__name{
  font-size: 18px;
  font-weight: 300;
  letter-spacing: 0.5px;
  font-family: sans-serif;
}

