.press{
  background-color: #fff;
  padding-top: 80px;
}
.press__head{
  margin-bottom: 35px;
}
.press__header{
  color: #0076d6;
  float: left;
  max-width: 760px;
  margin: 0;
  margin-left: -3px;
  margin-right: 40px;
  line-height: 1;
}
.press-slider__toolbar{
  float: left;
  width: 92px;
}
.press__btn{
  float: right;
  width: 206px;
  margin-top: 3px;
}
.press__btn-link{
  padding-top: 13px;
  padding-bottom: 14px;
}
.press-slider__arrow{
  width: 46px;
  height: 46px;
  line-height: 44px;
  background-color: #fff;
  text-align: center;
  float: left;
  border: solid 1px #d2d5d8;
  border-right: none;
  cursor: pointer;
  @include transition(0.3s);

  &:last-child{
    border-right: solid 1px #d2d5d8;
  }
  &:before{
    color: #d70007;
    font-size: 17px;
    display: inline-block;
  }
  &:focus{
    outline: none;
  }
  &:hover{
    background-color: #f03d3a;
    border-color: #f03d3a;
    
    &:before{
      color: #fff;
    }
  }
}
.press__body{

}
.press__slider{
  cursor: pointer;
  margin: 0 15px;
}
.press__slide{
  width: 255px;
  height: 220px;
  border: solid 1px #bcc7d1;
  padding: 28px;
  margin: 15px;
  display: block;
  @include border-radius(5px);
  @include transition(0.3s);
  
  &:hover,
  &:focus{
    border-color: transparent;
    background-color: #f6f8f9;
    .press-slide__date{
      color: #d6141c;
    }
  }
  &:focus{
    outline: none;
  }
}
.press-slide__date{
  color: #000;
  font-weight: 300;
  font-size: 26px;
  margin-bottom: 10px;
  @include transition(0.3s);
}
.press-slide__text{
  font-weight: 200;
  font-size: 15px;
  color: #000;
}
