.sidebar-multilevel{
  width: 285px;
  float: left;
  background-color: #fff;
  padding-right: 30px;
}
.sidebar-multilevel__menu{
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
  margin-bottom: 35px;
  margin-top: 3px;
}
.sidebar-multilevel__item{
  position: relative;
  margin-bottom: 13px;
  padding-right: 25px;
}
.sidebar-multilevel__icon{
  position: absolute;
  top: 5px;
  right: 0;
  height: 20px;
  width: 20px;
  line-height: 22px;
  text-align: center;
  background-color: #f6f8f9;
  display: inline-block;
  cursor: pointer;
  @include border-radius(50%);
  @include transition(0.3s);

  &:before{
    color: #67686b;
    font-size:  8px;
    display: block;
  }

  &_active{
    background-color: #f84739;
    @include transform(rotate(90deg));

    &:before{
      color: #fff;
    }
  }
}
.sidebar-multilevel__link{
  font-weight: 300;
  color: #000;
  display: block;

  &:hover,
  &_active{
    color: #ca0c10;
  }
}
.sidebar-multilevel-menu__link_active{
  color: #ca0c10;
  cursor: default;
  &~ul{
    display: block;
  }
}
.sidebar-multilevel__submenu{
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 13px;
  display: none;
}
.sidebar-multilevel__subitem{
  margin-bottom: 13px;
}
.sidebar-multilevel__sublink{
  color: #67686b;
  font-weight: 200;
  @include transition(0.2s);
  
  &:hover{
    color: #ca0c10;
  }
}
.sidebar-multilevel__sublink_active{
  cursor: default;
  color: #ca0c10;
}