.similar{
  padding-top: 60px;
  padding-bottom: 145px;
}
.similar_short{
  padding-bottom: 130px;
}
.similar_shorter{
  padding-bottom: 120px;
}
.similar_mini{
  padding-top: 40px;
  padding-bottom: 100px;
}
.similar_nano{
  padding-top: 40px;
  padding-bottom: 5px;
}
.similar__header{
  float: left;
  max-width: 950px;
}
.similar-slider__toolbar{
  float: left;
  margin-left: 55px;
  vertical-align: middle;
}
.similar__body{
  margin-top: 25px;
}
.similar__slider{
  min-height: 235px;
}
.similar-slide-wrap{
}
.similar__slide{
  width: 350px;
  //border: solid 1px;
  padding: 22px 27px;
  min-height: 235px;
  margin: auto;
  background-color: #f6f8f9;
  display: block;

  &_mini{
    min-height: 130px;
    display: block;

    .similar-slide__title{
      margin: 0;
      display: block;
    }
  }

  &:hover,
  &:focus{
    .similar-slide__title{
      color: #ca0c10;
    }
  }
}
.similar-slide__title{
  font-size: 20px;
  font-weight: 300;
  margin-bottom: 18px;
  color: #000;
  display: block;
  @include transition(0.3s);
}
.similar-slide__value{
  font-weight: 200;
  margin-bottom: 5px;
  display: block;
  color: #000;
}
.similar-slide__price{
  font-family: $fgp;
  font-size: 32px;
  color: #67686b;
  display: block;
}
.similar-slide__currency{
  font-family: $frs;
  font-size: 28px;
  color: #67686b;
}
.similar-slider__arrow{
  background-color: transparent;
  height: 40px;
  width: 46px;
  line-height: 38px;
  border: solid 1px #d2d5d8;
  border-right: none;
  cursor: pointer;
  float: left;
  @include transition(0.3s);

  &:last-child{
    border-right: solid 1px #d2d5d8;
  }
  &:before{
    color: #d9000c;
    font-size: 16px;
    display: inline-block;
  }

  &:hover{
    background-color: #f03e3a;
    border-color: #f03e3a;
    outline: none;

    &:before{
      color: #fff;
    }
  }
  &:focus{
    outline: none;
  }
}
.similar__footer{
  margin-top: 30px;
}
.similar__btn{
  width: 250px;
  float: left;
  margin-right: 30px;

  &.btn_main{
    border: solid 1px #ee3b3a;
  }
  &.btn_linear{
    .similar__btn-link{
      color: #67686b;
    }
    
    &:hover{
      .similar__btn-link{
        color: #000;
      }
    }
  }
}
.similar__btn-link{
  padding-top: 16px;
  padding-bottom: 18px;
  font-size: 18px;
}
.similar-slide__preview{
  font-weight: 300;
  margin-bottom: 10px;
  color: #000;
}