.error{
  background-color: #fff;
  text-align: center;
  background-image: url('/images/404__bg.jpg');
  background-repeat: no-repeat;
  background-position: bottom left;
  padding-top: 100px;
  padding-bottom: 135px;
}
.error__number{
  font-size:280px ;
  color: #bcc7d1;
  font-weight: 900;
  line-height: 1;
  margin-bottom: 3px;
}
.error__text{
  font-size: 22px;
  color: #000;
  font-weight: 200;
  margin-bottom: 60px;
}
.error__btn{
  width: 240px;
  margin: auto;
}
.error__btn-link{
  padding-top: 17px;
  padding-bottom: 18px;
  font-size: 18px;
}