.news-detail{
  width: 855px;
  padding-top: 30px;
  padding-bottom: 110px;

  &.text p{
    margin: 13px 0;
  }
}
.news-detail__date{
  font-weight: 200;
  margin-bottom: 30px;
}
.news-detail-img-wrap{
  margin: 50px 0;
  text-align: center;
  @include border-radius(5px);

  img{
    width: 100%;
    max-width: 855px;
  }
  figcaption{
    font-weight: 200;
    font-size: 14px;
    color: #7f7e7e;
    padding: 10px;
  }
}
.news-detail__slider{
  margin: 30px 0;
  width: 100%;
  position: relative;

  .slick-dots {
    bottom: 8px;
    z-index: 1;
    position: absolute;
    left: 0;
    list-style: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
    width: 100%;
    text-align: center;
    li {
      padding: 0 4px;
      display: inline-block;
      button {
        border: 0;
        background-color: #dde6ea;
        color: rgba(0, 0, 0, 0);
        height: 2px;
        width: 40px;
        cursor: pointer;
      }
      button:focus {
        outline: none;
      }
    }
    li.slick-active {
      button {
        background-color: $mcr;
      }
    }
  }
}
.news-detail__slide{
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
  min-height: 235px;
  padding: 36px 55px;
}
.news-detail-slide__title{
  color: #fff;
  font-size: 34px;
  font-weight: 200;
  line-height: 1;
  margin-bottom: 10px;
}
.news-detail-slide__text{
  font-size: 15px;
  color: #fff;
}
.news-detail-slider__arrow{
  height: 42px;
  width: 42px;
  background-color: #2b2e32;
  text-align: center;
  cursor: pointer;
  position: absolute;
  right: 0;
  border: 0;
  z-index: 1;
  @include transition(0.3s);

  &:before{
    color: #fff;
    font-size: 15px;
    display: inline-block;
    cursor: pointer;
  }
  
  &:hover{
    background-color: #ca0b10;
    outline:  none;
  }
  &:focus{
    outline: none;
  }
}
.news-detail-slider__arrow_up{
  top: 0;
  line-height: 52px;
}
.news-detail-slider__arrow_down{
  top: 42px;
  line-height: 30px;
}
.news-detail__footer{
  text-align: center;
  margin-top: 20px;
}
.news-detail__btn{
  width: 222px;
  display: inline-block;
  position: relative;
  .news-detail__btn-link{
    color: #b3b8c7;
  }

  &:hover{
    .news-detail-btn__icon:before,.news-detail__btn-link{
      color: #000;
    }
  }
}
.news-detail__btn-link{
  padding-top: 9px;
  padding-bottom: 10px;
}
.news-detail-btn__icon{

  &:before{
    font-size: 13px;
    margin-right: 18px;
    color: #b3b8c7;
    @include transition(0.3s)
  }
}