<div class="text text-wrap"></div>
<p><strong>ПОЛИТИКА КОНФИДЕНЦИАЛЬНОСТИ</strong></p>
<p>ООО «Макрософт Лайт» (ОГРН: 1162651054543, ИНН: 2632104209) (далее – «ОПЕРАТОР») уделяет большое внимание сохранению конфиденциальности информации, предоставляемой пользователями сайта, расположенного в сети интернет по адресу  www.mskmv.ru (далее – «САЙТ»), а также любыми третьими лицами (юридическими и физическими лицами), предоставляющими ОПЕРАТОРА конфиденциальную информацию в целях возможного взаимодействия (далее – «ПОЛЬЗОВАТЕЛИ»).
    ОПЕРАТОР прилагает максимальные усилия по защите, безопасному хранению и неразглашению конфиденциальной информации, предоставляемой ПОЛЬЗОВАТЕЛЯМИ.
    Настоящая Политика конфиденциальности (далее – «ПОЛИТИКА КОНФИДЕНЦИАЛЬНОСТИ») действует в отношении всей информации, которую может получить ОПЕРАТОР о ПОЛЬЗОВАТЕЛЕ во время использования им любого из ресурсов ОПЕРАТОРА, в том числе информации, отнесенной к персональным данным ПОЛЬЗОВАТЕЛЯ в соответствии с Федеральным законом от 27.07.2006 года № 152-ФЗ «О персональных данных» (далее – «ИНФОРМАЦИЯ»).
    ПОЛИТИКА КОНФИДЕНЦИАЛЬНОСТИ является официальным документом ОПЕРАТОРА.
    ОПЕРАТОР придерживается принципов обеспечения конфиденциальности в соответствии с требованиями действующего законодательства Российской Федерации, а также в соответствии с общими этическими нормами и правилами.
    Использование Сайта означает безоговорочное согласие ПОЛЬЗОВАТЕЛЯ с ПОЛИТИКОЙ КОНФИДЕНЦИАЛЬНОСТИ и указанными в ней условиями обработки ИНФОРМАЦИИ, в случае несогласия с этими условиями ПОЛЬЗОВАТЕЛЬ должен воздержаться от использования САЙТА ОПЕРАТОРА либо прекратить использование САЙТА ОПЕРАТОРА.</p>
<p><strong>ОБЩИЕ ПОЛОЖЕНИЯ</strong></p>

<p>1.1. ПОЛИТИКА КОНФИДЕНЦИАЛЬНОСТИ определяет перечень ИНФОРМАЦИИ, который ОПЕРАТОР может получить о ПОЛЬЗОВАТЕЛЕ, а также закрепляет порядок обработки ИНФОРМАЦИИ.</p>
<p>1.2. Целью ПОЛИТИКИ КОНФИДЕНЦИАЛЬНОСТИ является обеспечение надлежащей защиты ИНФОРМАЦИИ от несанкционированного доступа к данной ИНФОРМАЦИИ со стороны третьих лиц и от недопустимого разглашения.</p>
<p>1.3. ПОЛИТИКА КОНФИДЕНЦИАЛЬНОСТИ является публичным документом, размещенным на САЙТЕ ОПЕРАТОРА к которой имеет доступ любой пользователь сети Интернет.</p>
<p>1.4. ПОЛИТИКА КОНФИДЕНЦИАЛЬНОСТИ применяется к отношениям, возникающим между ПОЛЬЗОВАТЕЛЯМИ и ОПЕРАТОРОМ. ОПЕРАТОР не несет ответственности за действия третьих лиц.</p>
<p>1.5. ОПЕРАТОР в общем случае не проверяет достоверность ИНФОРМАЦИИ, предоставляемой ПОЛЬЗОВАТЕЛЯМИ, и не осуществляет контроль за их дееспособностью. Однако ОПЕРАТОР исходит из того, что ПОЛЬЗОВАТЕЛЬ предоставляет достоверную и достаточную ИНФОРМАЦИЮ и поддерживает эту ИНФОРМАЦИЮ в актуальном состоянии.</p>
<p><strong>2. УСЛОВИЯ ОБРАБОТКИ ИНФОРМАЦИИ И ЕЕ ПЕРЕДАЧА ТРЕТЬИМ ЛИЦАМ</strong></p>

<p>2.1. При обработке ИНФОРМАЦИИ ОПЕРАТОР руководствуется следующими принципами:</p>
<p>2.1.1. Обработка ИНФОРМАЦИИ должна осуществляться на законной и справедливой основе.</p>
<p>2.1.2. Обработка ИНФОРМАЦИИ должна ограничиваться достижением конкретных, заранее определенных и законных целей. Не допускается обработка ИНФОРМАЦИИ несовместимая с целями сбора ИНФОРМАЦИИ.</p>
<p>2.1.3. Не допускается объединение баз данных, содержащих ИНФОРМАЦИЮ, обработка которых осуществляется в целях, несовместимых между собой.</p>
<p>2.1.4. Обработке подлежит только ИНФОРМАЦИЯ, которая отвечает целям ее обработки.</p>
<p>2.1.5. Содержание и объем обрабатываемой ИНФОРМАЦИИ должен соответствовать заявленным целям обработки. Обрабатываемая ИНФОРМАЦИЯ не должна быть избыточной по отношению к заявленным целям ее обработки.</p>
<p>2.1.6. При обработке ИНФОРМАЦИИ должны быть обеспечены точность ИНФОРМАЦИИ, ее достаточность, а в необходимых случаях и актуальность по отношению к целям обработки ИНФОРМАЦИИ.</p>
<p>2.1.7. Хранение ИНФОРМАЦИИ должно осуществляться в форме, позволяющей определить ПОЛЬЗОВАТЕЛЯ, не дольше, чем этого требуют цели обработки ИНФОРМАЦИИ.</p>
<p>2.2. ОПЕРАТОР хранит ИНФОРМАЦИЮ о ПОЛЬЗОВАТЕЛЕ в соответствии с внутренними правилами соответствующей информационной системы.</p>
<p>2.3. В отношении ИНФОРМАЦИИ ПОЛЬЗОВАТЕЛЯ сохраняется ее конфиденциальность, кроме случаев добровольного предоставления ПОЛЬЗОВАТЕЛЕМ ИНФОРМАЦИИ о себе для общего доступа неограниченному кругу лиц.</p>
<p>2.4. ОПЕРАТОР вправе передать ИНФОРМАЦИЮ о ПОЛЬЗОВАТЕЛЕ третьим лицам в следующих случаях:</p>
<p>2.4.1. ПОЛЬЗОВАТЕЛЬ выразил свое согласие на такие действия.</p>
<p>2.4.2. Передача необходима для оказания услуг ПОЛЬЗОВАТЕЛЮ.</p>
<p>2.4.3. Передача ИНФОРМАЦИИ предусмотрена ПОЛИТИКОЙ КОНФИДЕНЦИАЛЬНОСТИ.</p>
<p>2.4.4. Передача предусмотрена российским законодательством в рамках установленной законодательством процедуры.</p>
<p>2.5. При обработке персональных данных ПОЛЬЗОВАТЕЛЯ ОПЕРАТОР руководствуется Федеральным законом от 27.07.2006 года № 152-ФЗ «О персональных данных».</p>
<p>2.6. Принимая условия ПОЛИТИКИ КОНФИДЕНЦИАЛЬНОСТИ ПОЛЬЗОВАТЕЛЬ действуя своей волей и в своем интересе, при размещении (вводе) своих персональных данных на Интернет сайте www.mskmv.ru предоставляет (подтверждает) согласие на:</p>

<p>2.6.1. обработку его персональных данных (в том числе: фамилии, имени, отчества, контактных данных (в том числе номер телефона), адресе для доставки и иной информации указанной ПОЛЬЗОВАТЕЛЕМ на САЙТЕ; данных о ПОЛЬЗОВАТЕЛЕ, которые станут известны в ходе предварительного согласования с ПОЛЬЗОВАТЕЛЕМ условий приобретения товаров, оказания услуг; иной общедоступной ИНФОРМАЦИИ о ПОЛЬЗОВАТЕЛЕ) в целях предложения ПОЛЬЗОВАТЕЛЮ услуг, новых услуг, предлагаемых ОПЕРАТОРОМ, в целях проведения опросов, анкетирования, рекламных и маркетинговых исследований в отношении услуг, предоставляемых ОПЕРАТОРОМ, ведения и актуализации клиентской базы, изучения конъюнктуры рынка, постоянного совершенствования уровня предлагаемых услуг, в том числе путем осуществления прямых контактов с ПОЛЬЗОВАТЕЛЕМ посредством средств связи, указанных ПОЛЬЗОВАТЕЛЕМ на САЙТЕ.</p>
<p>2.6.2. Сбор, запись, систематизацию, накопление, анализ, использование, извлечение, распространение, передачу другим третьим лицам (включая, но, не ограничиваясь: организациям владельцам - серверов; организациям, оказывающим услуги по осуществлению звонков, смс - рассылок, любых иных видов рассылок и уведомлений; организациям, оказывающим услуги по проведению различных опросов и исследований и пр.), получение, обработку, хранение, уточнение (обновление, изменение), обезличивание, блокирование, удаление, уничтожение персональных данных ПОЛЬЗОВАТЕЛЯ путем ведения баз данных автоматизированным, механическим, ручным способами для целей указанных в п.2.6.1 настоящей Политики конфиденциальности.</p>
<p>2.6.3. Осуществление в адрес ПОЛЬЗОВАТЕЛЯ смс-рассылки и иные виды рассылок и уведомлений, в том числе рекламного характера, с использованием любых средств связи.</p>
<p>2.6.4. Объединение персональных данных в информационную систему персональных данных и обработку персональных данных ПОЛЬЗОВАТЕЛЯ с помощью средств автоматизации либо без использования средств автоматизации с использованием различных материальных носителей, включая бумажные носители), а также с помощью иных программных средств.</p>
<p>2.7. ПОЛЬЗОВАТЕЛЬ предоставляет согласие на обработку его персональных данных ОПЕРАТОРА и иным лицам, указанным в ПОЛИТИКЕ КОНФИДЕНЦИАЛЬНОСТИ бессрочно и ПОЛЬЗОВАТЕЛЬ может отозвать согласие путем направления ОПЕРАТОРА и / или иным лицам, указанным в ПОЛИТИКЕ КОНФИДЕНЦИАЛЬНОСТИ письменного заявления заказным письмом с уведомлением о вручении. Датой отзыва считается день, следующий за днем вручения ОПЕРАТОРА соответствующего заказного письма ПОЛЬЗОВАТЕЛЯ об отзыве его согласия на обработку персональных данных.</p>
<p><strong>3. ОБРАБОТКА ИНФОРМАЦИИ</strong></p>
<p>3.1. Под обработкой ИНФОРМАЦИИ в рамках настоящей ПОЛИТИКИ КОНФИДЕНЦИАЛЬНОСТИ понимается совокупность действий ОПЕРАТОРА, включая сбор, запись, систематизацию, накопление, хранение, уточнение, извлечение, использование, передачу, уничтожение ИНФОРМАЦИИ.</p>
<p>3.2. ОПЕРАТОР осуществляет обработку ИНФОРМАЦИИ, предоставленной ПОЛЬЗОВАТЕЛЯМИ, в соответствии с согласием ПОЛЬЗОВАТЕЛЯ о ее обработке.</p>
<p>3.3. Сбор ИНФОРМАЦИИ о ПОЛЬЗОВАТЕЛЕ осуществляется при использовании ресурсов САЙТА.</p>
<p>3.4. ИНФОРМАЦИЯ о ПОЛЬЗОВАТЕЛЯХ может храниться у ОПЕРАТОРА на электронных либо на бумажных носителях.</p>
<p>3.6. ПОЛЬЗОВАТЕЛЬ дает свое согласие на получение от ОПЕРАТОРА рекламных материалов и информации об услугах и акциях ОПЕРАТОРА, иных информационных материалов по любым каналам связи, в частности, но, не ограничиваясь, через СМС - оповещение, почтовое письмо, телеграмму, голосовое сообщение, сообщение по электронной почте (при этом для данных информационных рассылок ПОЛЬЗОВАТЕЛЬ разрешает ОПЕРАТОРА использовать любую контактную информацию, переданную ПОЛЬЗОВАТЕЛЕМ в адрес ОПЕРАТОРА).
    ПОЛЬЗОВАТЕЛЬ в любое время может отказаться от получения рассылки от ОПЕРАТОРА путем: 1) обращения в службу технической поддержки ОПЕРАТОРА, которая по первому требованию ПОЛЬЗОВАТЕЛЯ обязуется отписать ПОЛЬЗОВАТЕЛЯ от рассылки, либо 2) нажатия соответствующей кнопки об отписки от рассылки, имеющейся в каждом сообщении, направленном по электронной почте.</p>
<p>3.7. ИНФОРМАЦИЯ, отнесенная Федеральным законом от 27.07.2006 года № 152-ФЗ «О персональных данных» к персональным данным, не передается каким-либо третьим лицам, за исключением случаев, прямо предусмотренных вышеуказанным законом и ПОЛИТИКОЙ КОНФИДЕНЦИАЛЬНОСТИ.</p>
<p>3.8. ОПЕРАТОР вправе уничтожить ИНФОРМАЦИЮ о ПОЛЬЗОВАТЕЛЕ, а именно произвести действия, в результате которых становится невозможным восстановить содержание ИНФОРМАЦИИ.</p>
<p><strong>4. ЗАЩИТА ИНФОРМАЦИИ</strong></p>

<p>4.1. ОПЕРАТОР принимает необходимые и достаточные организационные и технические меры для защиты ИНФОРМАЦИИ о ПОЛЬЗОВАТЕЛЯХ от неправомерного или случайного доступа, уничтожения, изменения, блокирования, копирования, распространения, а также от иных неправомерных действий с ней со стороны третьих лиц.</p>
<p><strong>5. ИЗМЕНЕНИЕ ПОЛИТИКИ КОНФИДЕНЦИАЛЬНОСТИ И ПРИМЕНИМОЕ ЗАКОНОДАТЕЛЬСТВО</strong></p>

<p>5.1. ОПЕРАТОР имеет право вносить изменения в настоящую ПОЛИТИКУ КОНФИДЕНЦИАЛЬНОСТИ. При внесении изменений в актуальной редакции указывается дата последнего обновления. Новая редакция ПОЛИТИКИ КОНФИДЕНЦИАЛЬНОСТИ вступает в силу с момента ее размещения на САЙТЕ, если иное не предусмотрено новой редакцией ПОЛИТИКИ КОНФИДЕНЦИАЛЬНОСТИ.</p>
<p>5.2. ОПЕРАТОР имеет право вносить изменения в условия ПОЛИТИКИ КОНФИДЕНЦИАЛЬНОСТИ в любое время без предварительного объявления.</p>
<p>5.3. К настоящей ПОЛИТИКИ КОНФИДЕНЦИАЛЬНОСТИ и отношениям между ПОЛЬЗОВАТЕЛЕМ И ОПЕРАТОРОМ, возникающими в связи с применением ПОЛИТИКИ КОНФИДЕНЦИАЛЬНОСТИ, подлежит применению право Российской Федерации.</p>
<p><strong>6. ОБРАТНАЯ СВЯЗЬ. ВОПРОСЫ И ПРЕДЛОЖЕНИЯ</strong></p>

<p>Все предложения или вопросы по поводу настоящей ПОЛИТИКИ КОНФИДЕНЦИАЛЬНОСТИ следует направлять ОПЕРАТОРУ по следующим адресам:</p>
<p>Почтовый адрес: info@mskmv.ru</p>
<p>Контактный телефон:  +7 (8793) 97-34-34</p>
<p>Электронная почта службы поддержки: info@mskmv.ru</p>


<p><strong>ПОЛЬЗОВАТЕЛЬСКОЕ СОГЛАШЕНИЕ</strong></p>
<p>Настоящее Соглашение определяет условия использования Пользователями материалов и сервисов сайта www.mskmv.ru (далее — «Сайт»).</p>
<p><strong>ОБЩИЕ УСЛОВИЯ</strong></p>

<p>1.1. «Пользователь Cайта» – лицо, имеющее доступ к Сайту, посредством сети Интернет и использующее материалы и сервисы Сайта.</p>
<p>1.2. «Администрация Сайта» – уполномоченные сотрудники на управления сайтом, действующие от имени ООО «МАКРОСОФТ ЛАЙТ», которые организуют и (или) осуществляет обработку персональных данных, а также определяют цели обработки персональных данных, состав персональных данных, подлежащих обработке, действия (операции), совершаемые с персональными данными.</p>
<p>1.3. Использование материалов и сервисов Сайта регулируется нормами действующего законодательства Российской Федерации.</p>
<p>1.4. Настоящее Соглашение является публичной офертой. Получая доступ к материалам Сайта Пользователь считается присоединившимся к настоящему Соглашению.</p>
<p>1.5. Администрация Сайта вправе в любое время в одностороннем порядке изменять условия настоящего Соглашения. Такие изменения вступают в силу по истечении 3 (Трех) дней с момента размещения новой версии Соглашения на сайте. При несогласии Пользователя с внесенными изменениями он обязан отказаться от доступа к Сайту, прекратить использование материалов и сервисов Сайта.</p>
<p><strong>2. ОБЯЗАТЕЛЬСТВА ПОЛЬЗОВАТЕЛЯ</strong></p>

<p>2.1. Пользователь соглашается не предпринимать действий, которые могут рассматриваться как нарушающие российское законодательство или нормы международного права, в том числе в сфере интеллектуальной собственности, авторских и/или смежных правах, а также любых действий, которые приводят или могут привести к нарушению нормальной работы Сайта и сервисов Сайта.</p>
<p>2.2. Использование материалов Сайта без согласия правообладателей не допускается (статья 1270 ГК РФ). Для правомерного использования материалов Сайта необходимо заключение лицензионных договоров (получение лицензий) от Правообладателей.</p>
<p>2.3. При цитировании материалов Сайта, включая охраняемые авторские произведения, ссылка на Сайт обязательна (подпункт 1 пункта 1 статьи 1274 Г.К РФ).</p>
<p>2.4. Комментарии и иные записи Пользователя на Сайте не должны вступать в противоречие с требованиями законодательства Российской Федерации и общепринятых норм морали и нравственности.</p>
<p>2.5. Пользователь предупрежден о том, что Администрация Сайта не несет ответственности за посещение и использование им внешних ресурсов, ссылки на которые могут содержаться на сайте.</p>
<p>2.6. Пользователь согласен с тем, что Администрация Сайта не несет ответственности и не имеет прямых или косвенных обязательств перед Пользователем в связи с любыми возможными или возникшими потерями или убытками, связанными с любым содержанием Сайта, регистрацией авторских прав и сведениями о такой регистрации, товарами или услугами, доступными на Сайте или полученными через внешние сайты или ресурсы либо иные контакты Пользователя, в которые он вступил, используя размещенную на Сайте информацию или ссылки на внешние ресурсы.</p>
<p>2.7. Пользователь принимает положение о том, что все материалы и сервисы Сайта или любая их часть могут сопровождаться рекламой. Пользователь согласен с тем, что Администрация Сайта не несет какой-либо ответственности и не имеет каких-либо обязательств в связи с такой рекламой.</p>
<p><strong>3. ПРОЧИЕ УСЛОВИЯ</strong></p>

<p>3.1. Все возможные споры, вытекающие из настоящего Соглашения или связанные с ним, подлежат разрешению в соответствии с действующим законодательством Российской Федерации.</p>
<p>3.2. Ничто в Соглашении не может пониматься как установление между Пользователем и Администрацией Сайта агентских отношений, отношений товарищества, отношений по совместной деятельности, отношений личного найма, либо каких-то иных отношений, прямо не предусмотренных Соглашением.</p>
<p>3.3. Признание судом какого-либо положения Соглашения недействительным или не подлежащим принудительному исполнению не влечет недействительности иных положений Соглашения.</p>
<p>3.4. Бездействие со стороны Администрации Сайта в случае нарушения кем-либо из Пользователей положений Соглашения не лишает Администрацию Сайта права предпринять позднее соответствующие действия в защиту своих интересов и защиту авторских прав на охраняемые в соответствии с законодательством материалы Сайта.</p>
<p>Пользователь подтверждает, что ознакомлен со всеми пунктами настоящего Соглашения и безусловно принимает их.</p>
</div>
