.trigger-section{
  background-color: $bgc;
}
.trigger-wrap{
  float: left;
}
.trigger{
  display: block;
  position: relative;
  width: 370px;
  padding: 43px;
  @include transition(0.3s);

  &:hover,
  &:focus{
    .trigger__icon{
      border-color: #f4583a;
      
      &:before{
        color: #f4583a;
      }
    }
    .trigger__text{
      color: #ca0c10;
    }
  }
}
.trigger__icon{
  position: absolute;
  height: 66px;
  width: 66px;
  line-height: 60px;
  top: 50%;
  left: 0;
  border: solid 1px #bcc7d1;
  text-align: center;
  @include transform(translateY(-50%));
  @include border-radius(50%);
  @include transition(0.3s);

  &:before{
    color: #bcc7d1;
    font-size: 36px;
    vertical-align: middle;
    display: inline-block;
    @include transition(0.3s);
  }
  &_small{
    &:before{
      font-size: 27px;
      padding-top: 5px;
    }
  }
}
.trigger__title-and-text{
  margin-left: 52px;
  display: block;
}
.trigger__title{
  color: #0f1924;
  display: block;
  margin-bottom: 8px;
}
.trigger__text{
  color: #bcc7d1;
  font-weight: 600;
  font-size: 14px;
  display: block;
  @include transition(0.3s);
}