.pop-up{
  display: none;
  position: absolute;
  z-index: 5;
  opacity: 0;
  visibility: hidden;
  @include transition(0.2s);

  &_active{
    display: block;
  }
  &_in{
    opacity: 1;
    visibility: visible;
  }
}
.pop-up_black{
  width: 214px;
  background-color: rgba(39, 41, 45, 0.902);
  color: #fff;
  font-weight: 200;
  font-size: 14px;
  padding: 10px 25px 12px 25px;
  line-height: 1.2;
  text-align: center;
  cursor: auto;
  @include border-radius(5px);
}
.pop-up_above{
  top: -22px;
  left: 50%;
  @include transform(translate(-50%, -100%));

  &:after {
    border: 7px solid transparent;
    border-top: 12px solid rgba(39, 41, 45, 0.902);
    content: '';
    position: absolute;
    left: 50%;
    top: 100%;
    @include transform(translateX(-50%));
  }
}
.pop-up-list-wrap{
  width: -moz-available;
  padding-top: 22px;
  background-color: transparent;
  width: 180px;
}
.pop-up-list-wrap_mini{
  width: 160px;

  .pop-up__list{
    width: 160px;
  }
  .pop-up-list__item{
    font-size: 16px;
    padding: 7px 20px;
  }
}
.pop-up__list{
  width: -moz-available;
  background-color: #fff;
  padding: 14px 0;
  width: 180px;
  display: block;
  font-family: $fsui;
  @include box-shadow(#{0px 2px 5px 0px rgba(0, 0, 0, 0.05), 0px 5px 30px 0px rgba(0, 0, 0, 0.15)});
  @include border-radius(5px);
}
.pop-up-list__item{
  width: -moz-available;
  color: #67686b;
  font-size: 18px;
  font-weight: 200;
  padding: 10px 30px;
  background-color: #fff;
  cursor: pointer;
  display: block;
  text-align: left;
  @include transition(0.3s);
  
  &:hover,
  &:focus{
    color: #000;
    background-color: #f6f8f9;
  }
}
.pop-up-list__item_active{
  background-color: #f6f8f9;
  color: #000;
  cursor: default;
}
.pop-up_under{
  bottom: 0;
  left: 50%;
  @include transform(translate(-50%, 100%));

  &:before {
    border: 7px solid transparent;
    border-bottom: 14px solid #fff;
    content: '';
    position: absolute;
    left: 50%;
    top: 22px;
    @include transform(translate(-50%, -100%));
  }
}