.text{

  h2, h3 {
    margin-bottom: 25px;
    margin-top: 40px;
  }
  p{
    font-size: 18px;
    font-weight: 200;
    letter-spacing: 0.39px;
    line-height: 1.7;
    margin: 6px 0;

    a{
      color: #ca0c10;
      text-decoration: none;
      @include transition(0.2s);

      &:hover{
        color: #000;
      }
    }
  }
  b{
    font-weight: 600;
  }
  blockquote{
    background-color: #f6f8f9;
    position: relative;
    padding: 45px 50px 45px 165px;
    margin: 60px 0;
    font-weight: 200;
    letter-spacing: 0.3px;
    line-height: 1.6;
    min-height: 190px;
    @include border-radius(5px);

    &:before {
      content: "\e92e";
      font-family: $fi;
      width: 70px;
      height: 70px;
      line-height: 70px;
      background-color: #eaf1f4;
      text-align: center;
      display: inline-block;
      position: absolute;
      left: 50px;
      top: 60px;
      font-size: 33px;
      color: #ce2b2e;
      font-weight: 400;
      @include border-radius(50%);
    }
    &:after{
      content: "!";
      position: absolute;
      top: 78px;
      left: 82.5px;
      font-size: 16px;
      color: #ce2b2e;
      font-weight: 400;
    }
  }
  figure{
    margin: 50px 0;
    text-align: center;
    @include border-radius(5px);

    &:focus{
      outline: none;
    }

    a{
      &:focus{
        outline: none;
      }
    }

    img{
      width: 100%;
      max-width: 855px;
      @include border-radius(5px);

      &:focus{
        outline: none;
      }
    }
    figcaption{
      font-weight: 200;
      font-size: 14px;
      color: #7f7e7e;
      padding: 10px;
    }
  }


  h2,.text__subheader{
    margin-bottom: 20px;
    margin-top: 50px;
  }
  .text__subheader{
     line-height: 1.1;
     margin-top: 35px;
   }
  .text__numbered-big-list{
    padding: 0;
    padding-right: 95px;
    margin: 0;
    margin-top: 19px;
    list-style-position: inside;

    li{
      font-weight: 300;
      font-size: 20px;
      margin-bottom: 40px;
      p{
        font-size: 16px;
        font-weight: 200;
        line-height: 1.9;
      }
    }
  }
  .text__marked-list{
    padding: 0;
    padding-right: 95px;
    margin: 0;
    list-style-type: none;

    li{
      position: relative;
      font-size: 16px;
      font-weight: 200;
      line-height: 1.9;
      margin-bottom: 13px;

      &:before{
        content: '—';
        padding-right: 8px;
      }
    }
  }
  .text__numbered-list {
    padding: 0;
    padding-right: 95px;
    margin: 0;
    list-style: none;
    counter-reset:  item;

    li {
      position: relative;
      font-size: 16px;
      font-weight: 200;
      line-height: 1.9;
      margin-bottom: 13px;
      padding-left: 20px;

      &:before{
        content: counter(item) '. ';
        counter-increment: item;
        position: absolute;
        top: 0;
        left: 0;
      }
    }
  }
}
.text-wrap{
  padding-top: 20px;
  padding-bottom: 80px;
}
.text__block{
  background-color: #f6f8f9;
  padding: 50px;
  padding-top: 40px;
  margin: 50px 0;
}
.text-block__header{
  font-size: 20px;
  font-weight: 300;
  letter-spacing: 0.5px;
  color: #000;
  display: inline-block;
}
.text-block__col{
  float: left;
  width: 50%;

  &:nth-child(2){
    padding-left: 45px;
  }
}
.text-block__item{
  margin-top: 30px;
  display: block;
  position: relative;
}
.text-block__title{
  font-weight: 300;
  color: #000;
}
.text-block__title_offset{
  margin-left: 47px;
  display: inline-block;
}
.text-block__marker{
  height: 26px;
  width: 26px;
  line-height: 24px;
  background-color: #e5ecef;
  position: absolute;
  top: 0;
  left: 0;

  &:before{
    font-size: 10px;
    color: #888a8d;
  }
}
.text-block__icon{
  text-align: center;
  margin-right: 20px;
  display: inline-block;
  vertical-align: middle;
  @include border-radius(50%);

  &:before{
    display: inline-block;
  }
}
.text__list{
  margin: 0;
  padding: 0;
  list-style: none;
}
.text-list__item{
  position: relative;
  padding-left: 55px;
  margin-bottom: 40px;
}
.text-list__marker{
  height: 30px;
  width: 30px;
  line-height: 28px;
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  background-color: #e5ecef;
  @include border-radius(50%);

  &:before{
    font-size: 10px;
    color: $mcr;
    display: inline-block;
  }
}
.text-list__title{
  color: #27292d;
  font-weight: 300;
  font-size: 18px;
  margin-bottom: 5px;
  display: block;
  @include transition(0.3s);

  &:hover,
  &:focus{
    color: #ca0c10;
    text-decoration: none;
  }
}
.text-list__desc{
  font-weight: 200;
}
.text__table{
  border-collapse: collapse;
  @include border-radius(5px);

  tr{
    height: 100px;
  }
  tr:nth-child(even){
    background-color: #f6f8f9;
  }
  tr:nth-child(odd){
    background-color: #f0f1f2;
  }
  th{
    text-align: left;
    font-weight: 300;
    font-size: 20px;
  }
  td{
    font-weight: 200;
  }
  th,td{
    padding-left: 30px;
    letter-spacing: 0.35px;
    width: 33.33%;
  }
}
.text__snippet{
  background-color: #f6f8f9;
  padding: 40px 50px 65px 50px;
  margin: 50px 0;
  @include border-radius(5px);

  h4{
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 0.5px;
    color: #000;
    line-height: 1.1;
    margin-bottom: 20px;
  }
  ul{
    margin: 0;
    margin-bottom: 32px;
    padding: 0;
    list-style: none;

    li{
      margin-top: 25px;
      display: block;
      position: relative;

      &:before{
        content: "\e912";
        text-align: center;
        margin-right: 20px;
        display: inline-block;
        vertical-align: middle;
        position: absolute;
        top: 6px;
        left: 0;
        font-family: $fi;
        height: 26px;
        width: 26px;
        line-height: 26px;
        background-color: #e5ecef;
        font-size: 10px;
        color: #888a8d;
        @include border-radius(50%);
      }

      span{
        font-weight: 300;
        color: #000;
        margin-left: 47px;
        display: inline-block;
        line-height: 1.9;
        letter-spacing: 0.2px;
      }
    }
  }
}
.text__bq-clear{
  border: solid 1px #b3b8c7;
  padding: 18px 25px 32px 25px;
  font-weight: 200;
  letter-spacing: 0.6px;
  line-height: 1.9;
  margin: 30px 0;

  a{
    color: #0076d6;
    text-decoration: none;
    @include transition(0.2s);

    &:hover{
      color: #000;
    }
  }
}