.gallery-detail{
  padding-top: 20px;
  padding-bottom: 120px;
}
.gallery-detail__date{
  color: #27292d;
  font-weight: 300;
  margin-bottom: 10px;
}
.gallery-detail-block{
  float: left;
  width: 350px;
  height: 330px;
  margin: 15px;
  position: relative;
  background-color: #333;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  background-size: cover;
  display: block;
  @include border-radius(5px);
  @include transition(0.4s);

  &:nth-child(3n){
    margin-right: 0;
  }
  &:first-child,
  &:nth-child(3n+1){
    margin-left: 0;
  }
  &:before{
    opacity: 0;
    visibility: hidden;
    font-size: 55px;
    color: #fff;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    line-height: 330px;
    text-align: center;
    height: 100%;
    background-color: transparentize(#262626, 0.1);
    @include border-radius(5px);
    @include transition(0.4s);
  }
  &:hover:before{
    opacity: 1;
    visibility: visible;
  }
}