.pager{
  width: 100%;
  text-align: center;
}
.pager-container{
  display: inline-block;
}
.pager__nav{
  width: 50px;
  height: 50px;
  line-height: 52px;
  background-color: #ecf1f4;
  color: #67686b;
  font-size: 12px;
  display: inline-block;
  text-align: center;
  margin: 10px;
  @include border-radius(50%);
  @include transition(0.3s);

  &:before{
    display: inline-block;
  }
  
  &:hover,
  &:focus{
    background-color: #f03e3a;
    color: #ffffff;
  }
}
.pager__page{
  font-size: 18px;
  color: #000;
  margin: 15px;
  @include transition(0.1s);

  &:hover,
  &:focus,
  &_dest{
    color: #b7b7b7;
  }
}