.attendance-detail{
  width: 825px;
  padding-bottom: 88px;
  padding-top: 20px;

  &, &.text p{
    margin: 14px 0;
  }
}
.attendance-detail__cats{
  
}
.attendance-detail-cats__cat{
  color: #ca0b10;
  @include transition(0.2);
  
  &:hover{
    color: #000;
  }
}
.attendance-detail__table{
  font-weight: 200;
  width: 825px;
  border-collapse: collapse;
  letter-spacing: 0.9px;
  margin: 30px 0;
  @include border-radius(5px);

  tr{
    &:nth-child(even){
      background-color: #f6f8f9;
    }
    &:nth-child(odd){
      background-color: #f0f1f2;
    }
  }
  th{
    font-size: 20px;
    font-weight: 200;
    text-align: left;
    padding: 15px 18px 21px 19px;
  }
  td{
    padding: 7px 19px 12px 19px;
  }
}
.attendance-detail__table_first-col-long{
  tr{
    td{
      &:nth-child(odd){
        width: 615px;
      }
    }
  }
}
.attendance-detail__table_modal{
  width: 100%;
  text-align: left;
  margin: 0;
  padding: 0;

  th{
    font-size: 18px;
    font-weight: 400;
  }
  td, th {
    padding: 28px;
    line-height: 1.3;
  }
  tr{
    &:nth-child(odd) {
      background-color: #f6f8f9;
    }
    &:nth-child(even) {
      background-color: #f0f1f2;
    }
  }
}
.attendance-detail__currency{
  font-family: $frs;
  font-size: 14px;
}
.attendance-detail__panels{
  width: 100%;
  margin: 30px 0;
}
.attendance-detail__panel{
  width: 266px;
  height: 270px;
  border: solid 1px #b3b8c7;
  text-align: center;
  padding: 0 20px;
  float: left;
  margin: 0 6.5px;
  @include border-radius(5px);

  &:first-child, &:nth-child(3n+1){
    margin-left: 0;
  }
  &:nth-child(3n){
    margin-right: 0;
  }
}
.attendance-detail-panel-title__container{
  position: relative;
  height: 55px;
  margin-bottom: 6px;
}
.attendance-detail-panel__title{
  font-weight: 200;
  font-size: 18px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
}
.attendance-detail-panel__duration{
  color: #67686b;
  font-size: 14px;
  font-weight: 200;
  margin-bottom: 5px;
}
.attendance-detail-panel__variant{
  color: #ca0c10;
  display: inline-block;
  font-size: 14px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  position: relative;
  padding: 0;
  padding-right: 12px;

  &:before{
    float: right;
    font-size: 5px;
    position: absolute;
    top: 50%;
    right: 0;
    @include transform(translatey(-50%));
  }
  &:focus{
    outline: none;
  }
  &:hover{
    .attendance-detail-panel__text{
      border-bottom-color: transparent;
    }
  }
}
.attendance-detail-panel-variant__text{
  border-bottom: dotted 1px;
  padding-bottom: 2px;
  @include transition(0.2s);
}
.attendance-detail-panel-price__container{
  position: relative;
  height: 43px;
  width: 100%;
  margin-bottom: 22px;
}
.attendance-detail-panel__price{
  font-size: 32px;
  position: absolute;
  width: 266px;
  height: 100%;
  top: 0;
  left: -20px;
}
.attendance-detail-panel-price__currency{
  font-size: 28px;
  font-family: $frs;
}
.attendance-detail-panel__btn, .attendance-detail-panel__btn.btn{
  width: 190px;
  margin: auto;
  margin-bottom: 19px;

  .attendance-detail-panel__btn-link{
    color: #67686b;
  }

  &:hover,
  &:focus{
    background-color: rgb(234,54,59);
    border-color: #f13f3a;
    @include box-shadow(inset 190px 0 190px -95px rgb(253,77,57));

    .attendance-detail-panel__btn-link{
      color: #fff;
    }
  }
}
.attendance-detail-panel__btn-link{
  padding-top: 9px;
  padding-bottom: 10px;
  font-size: 14px;
  color: #000;
}
.attendance-detail-panel-about__link{
  font-weight: 200;
  font-size: 15px;
  border: solid 1px transparent;
  color: #000!important;
  width: 125px;
  padding: 4px 0;
  display: inline-block;
  @include transition(0s);

  &:hover{
    border: solid 1px #000;
    color: #000;
    width: 125px;
    @include border-radius(29px);

    .attendance-detail-panel-about__underline{
      border-bottom-color: transparent;
    }
  }
}
.attendance-detail-panel-about__underline{
  border-bottom: dotted 1px;
  @include transition(0s);
}
.attendance-detail__video{
  width: 825px;
  height: 400px;
  margin: 30px 0;
}
.attendance-detail-panel__modal{
  width: 920px;
  display: none;
  padding: 0;
  padding-top: 50px;
  margin: 0;
  text-align: center;
  position: relative;
  @include border-radius(5px 5px 0 0);
}
.attendance-detail-panel-modal__title{
  margin-bottom: 30px;
  color: #010101;
}
.attendance-detail-panel-modal__close{
  height: 10px;
  width: 10px;
  color: #bcc7d1;
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  padding: 0;
  border: none;
  background-color: transparent;
  @include transition(0.2s);

  &:before{
    font-size: 10px;
    display: inline-block;
  }

  &:hover{
    color: #ca0b10;
  }
  &:focus{
    outline:none;
  }
}