.rate{
  padding-top: 45px;
  hr{
    width: 105px;
    height: 1px;
    background-color: #bcc7d1;
    margin: auto;
    border: 0;
  }
}
.rate__header{
  text-align: center;
}
.rate__panels{
  margin-top: 26px;
  margin-bottom: 60px;
}
.rate__panel{
  width: 350px;
  border: solid 1px #b3b8c7;
  text-align: center;
  min-height: 550px;
  padding: 50px 10px;
  float: left;
  margin-left: 30px;
  @include border-radius(5px);
  @include transition(0.3s);

  &:first-child{
    margin-left: 0;
  }
  &:hover,
  &:focus{
    border-color: transparent;
    background-color: #f6f8f9;
  }
}
.rate-panel__subheader{
  font-weight: 200;
  font-size: 20px;
  color: #000;
}
.rate-panel__header{
  font-size: 28px;
  font-weight: 300;
  color: #000;
  letter-spacing: 0.8px;
  margin-bottom: 25px;
}
.rate-panel__duration{
  color: #67686b;
  font-size: 18px;
  font-weight: 200;
  margin-bottom: 20px;
}
.rate-panel__variant{
  display: inline-block;
  color: #ca0c10;
  font-size: 18px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  position: relative;
  padding: 0;
  padding-right: 22px;

  &:before{
    float: right;
    font-size: 10px;
    position: absolute;
    top: 50%;
    right: 0;
    @include transform(translatey(-50%));
  }
  &:focus{
    outline: none;
  }
  &:hover{
    .rate-panel-variant__text{
      border-bottom-color: transparent;
    }
  }
}
.rate-panel-variant__text{
  border-bottom: dotted 1px;
  @include transition(0.2s);
}
.rate-panel__price{
  margin-bottom: 13px;
}
.rate-panel-price__text{
  font-weight: 200;
  color: #67686b;
  margin-bottom: 5px;
  margin-top: 16px;
}
.rate-panel-price__about{
  width: 15px;
  height: 15px;
  line-height: 14px;
  background-color: #d8e1e5;
  font-weight: 300;
  font-size: 12px;
  color: #67686b;
  display: inline-block;
  cursor: pointer;
  margin-left: 8px;
  position: relative;
  @include border-radius(2px);
  @include transition(0.1s);
  
  &:hover,
  &:focus{
    background-color: #ed3a3a;
    color: #fff;
    .rate__pop-up{
      display: block;
      opacity: 1;
      visibility: visible;
    }
  }
}
.rate-panel-price__number{
  font-family: $fgp;
  font-size: 32px;
  color: #000;
}
.rate-panel-price__currency{
  font-family: $frs;
  font-size: 28px;
}
.rate-panel__btn{
  width: 240px;
  margin: auto;
  margin-bottom: 38px;
  @include transition(0.3s);

  &:hover,
  &:focus{
    background-color: rgb(234,54,59);
    border-color: #f13f3a;
    @include box-shadow(inset 240px 0 240px -120px rgb(253,77,57));

    .rate-panel__btn-link{
      color: #fff;
    }
  }
  .rate-panel__btn-link{
    color: #67686b;
  }
}
.rate-panel__btn-link{
  font-size: 18px;
  padding-top: 16px;
  padding-bottom: 18px;
  @include transition(0.3s);
}
.rate-panel-about__link{
  font-weight: 200;
  padding-bottom: 5px;
  border: solid 1px transparent;
  border-bottom: dotted 1px;
  color: #000;
  padding-top: 5px;
  display: inline-block;
  @include transition(0.3s);

  &:hover{
    color: #ca0c10;
    border-bottom-color: transparent;
  }
  
  &_expand{
    border: solid 1px #000;
    color: #000;
    width: 125px;
    padding-bottom: 5px;
    @include border-radius(29px);

    &:hover{
      background-color: #e2e9ec;
      border-color: #e2e9ec;
      color: #000;
    }
  }
}
.rate-panel__prices{
  margin-bottom: 35px;
}
.rate-panel-variant__current{
  @include transition(0.3s);
}
.rate-btn-wrap{
  text-align: center;
  margin-top: 40px;
}
.rate__btn{
  width: 275px;
  font-size: 18px;
  display: inline-block;
  margin-right: 30px;

  &.btn_trigger{
    height: 60px;
  }
  &:last-child{
    margin-right: 0;
  }
}
.rate__btn-link{
  padding-top: 17px;
  padding-bottom: 19px;
  font-size: 18px;
}
.rate-panel__ref{

}