.consul{
  background-color: #f6f8f9;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 90px;
}
.consul_short{
  padding-bottom: 66px;
}
.consul__header{

}
.consul__desc{
  width: 570px;
  margin: 17px auto 32px auto;
  font-size: 20px;
  font-weight: 200;
  line-height: 1.6;

  &_check{
    margin: 7px auto 22px auto;
  }
}
.consul__form, .consul__form.form{
  width: 730px;

  .feedback-form__group{
    margin-top: 20px;
  }
  .feedback-form__control:not(.feedback-form__control_type_file),
  .feedback-form__control_type_list_pseudo,
  .feedback-form__control_type_option{
    background-color: #e2e5e7;
  }
  .feedback-form__control_type_option{

    &:first-child{
      &:hover,
      &:focus{
        background-color: #e2e5e7;
      }
    }
    &:hover,
    &:focus{
      background-color: #d4d7d9;
    }
  }
  .feedback-form__submit{
    margin-top: 30px;
    margin-bottom: 15px;
    border: solid 2px transparent;

    &_check{
      font-weight: 400;
    }
    &[disabled]{
      border-color: #e2e5e7;
    }
  }
  .form__input[type="checkbox"] + .form-checkbox__label{
    margin-top: 7px;
  }
  .form__select_expand, .form__option{
    background-color: #d9dcde;
  }
}
.consul__item{
  float: left;
  width: 230px;
  margin-left: 20px;

  &:first-child{
    margin-left: 0;
  }
}