.special-rate{

}
.special-rate-toggle-wrap{
  text-align: center;
}
.special-rate__toggle{
  color: #0076d6;
  font-size: 18px;
  font-weight: 200;
  border: none;
  border-bottom: dashed 1px #0076d6;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  @include transition(0.2s);

  &:hover{
    border-bottom-color: transparent;
  }
  &_active{
    color: #ca0c10;
    border-bottom-color: #ca0c10;
  }
}
.special-rate__content{
  display: none;
}
.special-rate__tabs{
  width: 100%;
  margin-top: 30px;
}
.special-rate-tab-wrap{
  display: table-cell;
  width: 1%;
  text-align: center;
  float: none;

  &:first-child{
    .special-rate__tab{
      margin-left: 0;
    }
  }
  &:last-child{
    .special-rate__tab{
      margin-right: 0;
    }
  }
}
.special-rate__tab{
  margin: 0 2px;
  display: block;
  background-color: #f6f8f9;
  color: #000;
  font-size: 20px;
  font-weight: 200;
  padding-top: 19px;
  padding-bottom: 19px;
  @include border-radius(5px);
  @include transition(0.3s);

  &:hover,
  &_active{
    background-color: #f0f1f2;
  }
}
.special-rate__tabpanels{
  margin-top: 12px;
  @include transition(0.4s);
}
.special-rate__tabpanel{

}
.special-rate__panels{

}
.special-rate__panel{
  position: relative;
  background-color: #fff;
  height: 322px;
  width: 210px;
  border: solid 1px #b3b8c7;
  padding: 0 20px;
  text-align: center;
  float: left;
  margin: 7.5px;
  @include border-radius(5px);
  @include transition(0.4s);

  &:first-child, &:nth-child(5n + 1){
    margin-left: 0;
  }

  &:nth-child(5n){
    margin-right: 0;
  }

  &:hover{
    background-color: #f6f8f9;
    border-color: transparent;
  }
}
.special-rate-duration-and-sale-wrap{
  position: relative;
  height: 75px;
  text-align: center;
  overflow: hidden;
  margin-top: 5px;
}
.special-rate__duration-and-sale{
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  max-height: 75px;
  font-weight: 200;
  @include transform(translateY(-50%));
}
.special-rate__duration{
  font-size: 18px;
}
.special-rate__sale{
  font-size: 14px;
}
.special-rate-price__container{
  position: relative;
  height: 43px;
}
.special-rate__price{
  letter-spacing: 0.6px;
  line-height: 1;
  font-family: $fgp;
  position: absolute;
  top: 0;
  left: -20px;
  width: 210px;
  height: 100%;
}
.special-rate-price__value{
  font-size: 32px;
}
.special-rate-price__currency{
  font-family: $frs;
  font-size: 28px;
}
.special-rate__condition{
  color: #67686b;
  font-weight: 200;
  height: 73px;
  padding-bottom: 10px;
}
.special-rate-panel__btn{
  margin-bottom: 16px;
  @include transition(0.3s);

  &:hover{
    background-color: rgb(234,54,59);
    border-color: rgb(234,54,59);
    @include box-shadow(inset 100px 0 175px -50px rgb(253,77,57));
    .special-rate-panel__btn-link{
      color: #fff;
    }
  }
}
.special-rate-panel__btn-link{
  padding-top: 9px;
  padding-bottom: 10px;
  font-size: 14px;
  @include transition(0.3s);
}
.special-rate__recommended{
  color: #67686b;
  font-weight: 200;
  letter-spacing: 0.3px;
}
.special-rate-recommended__value{

}
.special-rate-recommended__currency{
  font-family: $frs;
}
.special-rate__footer{
  margin-top: 40px;
  text-align: center;
}
.special-rate__btn{
  width: 276px;
  display: inline-block;
  margin-right: 30px;

  &:last-child{
    margin-right: 0;
  }
}
.special-rate__btn-link{
  font-size: 18px;
  padding-top: 17px;
  padding-bottom: 19px;
}
.special-rate-footer__toggle{
  border: solid 2px #b3b8c7;

  .btn__link{
    color: #67686b;
    padding-top: 15px;
    padding-bottom: 17px;
  }
}