.breadcrumbs{
  width: 100%;
  font-size: 15px;
  margin-top: 25px;
  margin-bottom: 20px;
}
.breadcrumbs__link{
  font-weight: 300;
  padding-right: 28px;
  padding-left: 15px;
  position: relative;
  color: #000;
  @include transition(0.3s);

  &:first-child{
    padding-left: 0px;
  }
  &:before{
    font-size: 10px;
    color: #bcc7d1;
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -3px;
  }
  &:hover{
    color: #ca0b10;
  }
}
.breadcrumbs__dest{
  color: #67686b;
  font-weight: 200;
  padding-left: 22px;
}