.about{
  width: 855px;
  padding-top: 10px;
}
.about__offices{
  margin-top: 20px;
  margin-bottom: 25px;
}
.about__office{
  float: left;
  width: 305px;
  position: relative;
  padding-left: 42px;
  font-size: 18px;
  font-weight: 200;
  letter-spacing: 0.39px;

  &:nth-child(3n){
    width: 245px;
  }
}
.about-office__icon{
  
  &:before{
    background-color: #f6f8f9;
    width: 28px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    position: absolute;
    left: 0;
    top: 0;
    color: #d44245;
    font-size: 10px;
    @include border-radius(50%);
  }
}
.about__features{
  background-color: #f6f8f9;
  margin: 60px 0;
}
.about__feature{
  float: left;
  width: 50%;
  text-align: center;
  padding: 50px;
}
.about-feature__icon{
  width: 112px;
  height: 112px;
  line-height: 112px;
  background-color: #eaf1f4;
  text-align: center;
  margin: auto;
  margin-bottom: 30px;
  @include border-radius(50%);

  &:before{
    font-size: 55px;
    color: #ca0c10;
  }
}
.about-feature__title{
  font-weight: 300;
  font-size: 24px;
  letter-spacing: 0.3px;
  line-height: 1;
  margin-bottom: 13px;
}
.about-feature__desc{
  font-weight: 200;
  padding: 0 20px;
  line-height: 1.9;
}
.about__list{
  background-color: #f6f8f9;
  margin: 60px 0;
  padding: 45px 50px 25px 50px;
}
.about-list__header{
  line-height: 1;
  font-weight: 300;
  font-size: 20px;
  letter-spacing: 0.5px;
}
.about-list-container{
  list-style: none;
  margin: 0;
  padding: 0;
}
.about-list__item{
  position: relative;
  font-weight: 200;
  margin: 30px 0;
  padding-left: 45px;
  letter-spacing: 0.4px;
  line-height: 1.7;
}
.about-list__icon{
  width: 28px;
  height: 28px;
  line-height: 26px;
  text-align: center;
  background-color: #e5ecef;
  position: absolute;
  top: 0;
  left: 0;
  @include border-radius(50%);

  &:before{
    color: #848689;
    font-size: 10px;
  }
}