.infinity {

}

.infinity__link {

  &:before {
    display: inline-block;
  }

  &.loading:before {
    animation-name: rotate360;
    animation-duration: 1000ms;
    animation-iteration-count: infinite;
  }
}

.infinity__link-text {

}

@keyframes rotate360 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}