.btn{
  text-align: center;
  cursor: pointer;
  @include transition(0.3s);

  &:focus{
    outline: none;
  }
}
.btn__link{
  width: 100%;
  display: inline-block;
  @include transition(0.3s);
}
.btn_main{
  background-color: rgb(234,54,59);
  position: relative;
  @include box-shadow(inset 100px 0 175px -50px rgb(253,77,57));
  @include border-radius(40px);
  @include transition(0.3s);

  &, .btn__link{
    color: #fff;
  }

  &:hover{
    background-color: rgb(253,77,57);
    @include box-shadow(inset 100px 0 175px -50px rgb(234,54,59));
  }
}
.btn_linear{
  border: solid 1px #bcc7d1;
  @include border-radius(40px);

  &,.btn__link{
    color: #78909c;
    font-family: $fsui;
  }

  &:hover{
    background-color: #e2e9ec;
    border-color: #e2e9ec;
    &, .btn__link{
      color: #000;
    }
  }
}
.btn_trigger{
  border: solid 2px #b3b8c7;
  background-color: transparent;
  @include border-radius(40px);

  &,.btn__link{
    color: #67686b;
  }

  &:hover{
    background-color: #e2e9ec;
    border-color: #e2e9ec;

    &, .btn__link{
      color: #000;
    }
  }
}