.review{
  padding-top: 80px;
  padding-bottom: 198px;
  background-color: #fff;
}
.review_short{
  padding-top: 0;
  padding-bottom: 77px;
  .review__header{
    text-align: center;
    color: #0076d6;
    font-size: 32px;
  }
}
.review__head{
  margin-bottom: 40px;
}
.review__header{
  color: #0076d6;
  margin: 0;
  margin-left: -3px;
  line-height: 1;
}
.review__header_center{
  text-align: center;
}
.review__body{
  width: 100%;
  position: relative;
}
.review__slider{
  width: 100%;
  margin: auto;
  height: auto;
  @include transition(0.3s);
}
.review-slide-wrap{
  width: 100%;
  padding: 0 95px;
  height: auto;
  @include transition(0.3s);
}
.review__slide{
  padding: 30px;
  background-color: #f6f8f9;
  position: relative;
  height: auto;
  @include transition(0.3s);
}
.review-slide__img{
  background: url('/images/review__slide.png') no-repeat center center;
  position: absolute;
  height: 100%;
  max-height: 180px;
  width: 146px;
  top: 0;
  left: 30px;
}
.review-slide__title-and-text{
  margin-left: 165px;
}
.review-slide__title{
  font-size: 26px;
  font-weight: 300;
  margin-bottom: 13px;
  letter-spacing: 0.6px;
  word-spacing: 2px;
}
.review-slide__text{
  font-weight: 200;
  font-size: 18px;
  letter-spacing: 0.5px;
  overflow: hidden;
  @include transition(0.3s);
}
.review-slider__arrow{
  background-color: #2b2e32;
  height: 35px;
  width: 35px;
  line-height: 33px;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 50%;
  z-index: 1;
  @include border-radius(3px);
  @include transition(0.3s);
  @include transform(translateY(-50%));

  &:before{
    color: #fff;
    font-size: 10px;
    display: inline-block;
  }

  &:hover{
    background-color: #f03d3a;
    outline: none;
  }
  &:focus{
    outline: none;
  }
}
.review-slider__arrow_left{
  left: 0;
}
.review-slider__arrow_right{
  right: 0;
}
.review__footer{
  text-align: center;
  margin-top: 40px;
}
.review__btn{
  display: inline-block;
  width: 230px;
  vertical-align: top;
  &.btn_linear{
    background-color: transparent;
    &:hover{
      background-color: #e2e9ec;
      border-color: #e2e9ec;
      .vacancies__toggle-link{
        color: #000;
      }
    }
  }

  &:first-child{
    margin-right: 26px;
  }

}
.review__btn-link{
  padding-top: 12px;
  padding-bottom: 13px;
  font-size: 18px;
}
.review__btn_main{
  border: solid 1px #f94839;
}
.review__form{
  width: 520px;
}
.review__expander{

}
.review__expander_active{

}