.tabs-on-main{
  background-color: #fff;
  padding-top: 68px;
  padding-bottom: 84px;
}
.tabs-on-main__tablist{
  width: 100%;
}
.tabs-on-main-tab-wrap{
  display: table-cell;
  width: 1%;
  float: none;
  text-align: center;

  &:first-child{
    .tabs-on-main__tab{
      margin-left: 0;
    }
  }
  &:last-child{
    .tabs-on-main__tab{
      margin-right: 0;
    }
  }
}
.tabs-on-main__tab{
  background-color: #f6f8f9;
  color: #869aac;
  font-weight: 300;
  font-size: 21px;
  margin: auto 10px;
  padding: 20px 10px;
  display: block;
  border: solid 1px transparent;
  border-bottom-color: #d8dadd;
  position: relative;
  @include transition(0.2s);

  &_active{
    background-color: #fff;
    border: solid 1px #d8dadd;
    border-bottom-color: transparent;
  }
  &:hover,&_active{
    color: #0076d6;
  }
}
.tabs-on-main_sticker{
  top: 10px;
  left: 50%;
  @include transform(translateX(-50%));
}
.tabs-on-main__tabpanels{
  border: solid 1px #d8dadd;
  margin-top: -1px;
  overflow: hidden;
  @include transition(0.4s);
}
.tabs-on-main__tabpanel{
  padding: 60px;
  visibility: hidden;
  opacity: 0;
  @include transition(0.2s);
}
.tabs-on-main__tabpanel__hide{
  display: none;
}
.tabs-on-main__tabpanel_active{
  display: block;
  @include transition(0.4s);
}
.tabs-on-main__tabpanel_in{
  opacity: 1;
  visibility: visible;
}
.tabs-on-main__block{
  float: left;
  width: 328px;
  margin-bottom: 30px;
  display: block;
  min-height: 170px;

  &:hover{
    .tabs-on-main__text{
      color: #ca0b10;
    }
  }
}
.tabs-on-main__icon{
  display: block;
  width: 98px;
  height: 98px;
  line-height: 96px;
  background-color: #f1f4f6;
  text-align: center;
  margin: auto;
  margin-bottom: 15px;
  @include border-radius(50%);

  &:before{
    color: #f85339;
    font-size: 50px;
    vertical-align: middle;
  }
}
.tabs-on-main__text{
  font-weight: 300;
  margin: auto;
  max-width: 200px;
  text-align: center;
  display: block;
  color: #000;
  @include transition(0.3s);
}
.tabs-on-main__footer{
  margin-top: 40px;
  margin-bottom: 10px;
}
.tabs-on-main__btn{
  width: 240px;
  margin: auto;
}
.tabs-on-main__btn-link{
  padding-top: 16px;
  padding-bottom: 17px;
  font-size: 18px;
}
.tabs-on-main-block-wrap{
  display: block;
}