.header{
  background-color: #fff;
  width: 100%;
}
.header__item{
  margin-top: 19px;
  margin-bottom: 15px;
  float: left;

  &:last-child{
    float: right;
  }
}
.header__brand{
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center center;
  display: inline-block;
}
.header__logo{
  background-image: url('/images/brand.png');
  width: 150px;
  height: 40px;
  margin-top: 3px;
  margin-right: 22px;
}
.header__slogan{
  color: #0076d6;
  font-size: 13px;
  padding-left: 23px;
  padding-bottom: 3px;
  letter-spacing: 0.3px;
  margin-top: 5px;
  border-left: solid 1px #d5e1ed;
}
.header__location-and-tel{
  margin-left: 85px;
}

.header__title{
  font-size: 13px;
  color: #78909c;
  margin-top: 3px;
  margin-left: 2px;
}
.header__location{
  position: relative;
  margin-left: 5px;
  display: inline-block;
  margin-top: -11px;
  @include border-radius(5px 5px 0 0);
  @include box-shadow(#{0px 2px 5px 0px transparent, 0px 5px 30px 0px transparent});
  @include transition(0.3s);
}
.header__location_active{
  @include box-shadow(#{0px 2px 5px 0px transparentize(#000, 0.95), 0px 5px 30px 0px transparentize(#000, 0.85)});
  @include transition(0.4s);
  .header-location__showcase{
       background-color: #fff;
     }
  .header-location__list{
    @include box-shadow(#{0px 2px 5px 0px transparentize(#000, 0.95), 0px 5px 30px 0px transparentize(#000, 0.85)});
  }
}
.header-location__btn{
  cursor: pointer;
  position: relative;
  border: none;
  background-color: transparent;
  text-align: left;
  z-index: 7;
  padding: 0;

  &:focus{
    outline: none;
  }
}
.header-location__showcase{
  padding: 14px 29px 3px 18px;
  display: inline-block;
  background-color: transparent;
}
.header-location__link{
  border-bottom: dotted 1px ;
  position: relative;
  display: inline-block;
  @include transition(0.3s);

  &:before{
    color: #015ab2;
    position: absolute;
    left: 100%;
    padding-left: 10px;
    top: 35%;
    font-size: 7px;
  }

  &:hover{
    border-bottom-color: transparent;
  }
}
.header-location__list{
  display: none;
  background-color: #fff;
  padding: 14px 0;
  position: absolute;
  top: 100%;
  left: 0;
  min-width: 150px;
  z-index: 6;
  @include border-radius(0 5px 5px 5px);
}
.header-location__list_active{
  display: block;
}
.header-location__item{
  font-size: 18px;
  font-weight: 200;
  color: #67686b;
  background-color: transparent;
  padding: 7px 18px 9px 18px;
  cursor: pointer;
  @include transition(0.3s);

  &:hover,
  &:focus{
    background-color: #f6f8f9;
  }
}
.header-location__item_active{
  display: none;
}
.header__text{
  color: #252525;
  font-size: 18px;
  letter-spacing: 0.3px;
  margin-top: 3px;
}
.header__mail{
  margin-left: 85px;
}
.header__1c{
  background-image: url('/images/1c-logo.png');
  height: 52px;
  width: 136px;
}
.header__tel{
  margin-left: 20px;
  margin-top: 0;
}