@font-face {
  font-family: "GothamPro";
  src: url("/frontend/local/fonts/Gotham Pro/GothamProRegular/GothamProRegular.eot");
  src: url("/frontend/local/fonts/Gotham Pro/GothamProRegular/GothamProRegular.eot?#iefix")format("embedded-opentype"),
  url("/frontend/local/fonts/Gotham Pro/GothamProRegular/GothamProRegular.woff") format("woff"),
  url("/frontend/local/fonts/Gotham Pro/GothamProRegular/GothamProRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "PTRoubleSans";
  src: url("/frontend/local/fonts/PTRoubleSans/PTRoubleSans.eot");
  src: url("/frontend/local/fonts/PTRoubleSans/PTRoubleSans.eot?#iefix")format("embedded-opentype"),
  url("/frontend/local/fonts/PTRoubleSans/PTRoubleSans.woff") format("woff"),
  url("/frontend/local/fonts/PTRoubleSans/PTRoubleSans.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: 'Segoe UI';
  src: url('/frontend/local/fonts/Segoe UI/Segoe UI-Light/SegoeUI-Light.eot');
  src: url('/frontend/local/fonts/Segoe UI/Segoe UI-Light/SegoeUI-Light.eot?#iefix') format('embedded-opentype'),
  url('/frontend/local/fonts/Segoe UI/Segoe UI-Light/SegoeUI-Light.woff2') format('woff2'),
  url('/frontend/local/fonts/Segoe UI/Segoe UI-Light/SegoeUI-Light.woff') format('woff'),
  url('/frontend/local/fonts/Segoe UI/Segoe UI-Light/SegoeUI-Light.ttf') format('truetype'),
  url('/frontend/local/fonts/Segoe UI/Segoe UI-Light/SegoeUI-Light.svg#Segoe UI-Light') format('svg');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Segoe UI';
  src: url('/frontend/local/fonts/Segoe UI/Segoe UI-Semilight/SegoeUI-Semilight.eot');
  src: url('/frontend/local/fonts/Segoe UI/Segoe UI-Semilight/SegoeUI-Semilight.eot?#iefix') format('embedded-opentype'),
  url('/frontend/local/fonts/Segoe UI/Segoe UI-Semilight/SegoeUI-Semilight.woff2') format('woff2'),
  url('/frontend/local/fonts/Segoe UI/Segoe UI-Semilight/SegoeUI-Semilight.woff') format('woff'),
  url('/frontend/local/fonts/Segoe UI/Segoe UI-Semilight/SegoeUI-Semilight.ttf') format('truetype'),
  url('/frontend/local/fonts/Segoe UI/Segoe UI-Semilight/SegoeUI-Semilight.svg#Segoe UI-Semilight') format('svg');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Segoe UI';
  src: url('/frontend/local/fonts/Segoe UI/Segoe UI-Italic/SegoeUI-Italic.eot');
  src: url('/frontend/local/fonts/Segoe UI/Segoe UI-Italic/SegoeUI-Italic.eot?#iefix') format('embedded-opentype'),
  url('/frontend/local/fonts/Segoe UI/Segoe UI-Italic/SegoeUI-Italic.woff2') format('woff2'),
  url('/frontend/local/fonts/Segoe UI/Segoe UI-Italic/SegoeUI-Italic.woff') format('woff'),
  url('/frontend/local/fonts/Segoe UI/Segoe UI-Italic/SegoeUI-Italic.ttf') format('truetype'),
  url('/frontend/local/fonts/Segoe UI/Segoe UI-Italic/SegoeUI-Italic.svg#SegoeUI-Italic') format('svg');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Segoe UI';
  src: url('/frontend/local/fonts/Segoe UI/Segoe UI-SemiBold/SegoeUI-SemiBold.eot');
  src: url('/frontend/local/fonts/Segoe UI/Segoe UI-SemiBold/SegoeUI-SemiBold.eot?#iefix') format('embedded-opentype'),
  url('/frontend/local/fonts/Segoe UI/Segoe UI-SemiBold/SegoeUI-SemiBold.woff2') format('woff2'),
  url('/frontend/local/fonts/Segoe UI/Segoe UI-SemiBold/SegoeUI-SemiBold.woff') format('woff'),
  url('/frontend/local/fonts/Segoe UI/Segoe UI-SemiBold/SegoeUI-SemiBold.ttf') format('truetype'),
  url('/frontend/local/fonts/Segoe UI/Segoe UI-SemiBold/SegoeUI-SemiBold.svg#SegoeUI-SemiBold') format('svg');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Segoe UI';
  src: url('/frontend/local/fonts/Segoe UI/Segoe UI-Bold/SegoeUI-Bold.eot');
  src: url('/frontend/local/fonts/Segoe UI/Segoe UI-Bold/SegoeUI-Bold.eot?#iefix') format('embedded-opentype'),
  url('/frontend/local/fonts/Segoe UI/Segoe UI-Bold/SegoeUI-Bold.woff2') format('woff2'),
  url('/frontend/local/fonts/Segoe UI/Segoe UI-Bold/SegoeUI-Bold.woff') format('woff'),
  url('/frontend/local/fonts/Segoe UI/Segoe UI-Bold/SegoeUI-Bold.ttf') format('truetype'),
  url('/frontend/local/fonts/Segoe UI/Segoe UI-Bold/SegoeUI-Bold.svg#SegoeUI-Bold') format('svg');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Segoe UI';
  src: url('/frontend/local/fonts/Segoe UI/Segoe UI-Regular/SegoeUI-Regular.eot');
  src: url('/frontend/local/fonts/Segoe UI/Segoe UI-Regular/SegoeUI-Regular.eot?#iefix') format('embedded-opentype'),
  url('/frontend/local/fonts/Segoe UI/Segoe UI-Regular/SegoeUI-Regular.woff2') format('woff2'),
  url('/frontend/local/fonts/Segoe UI/Segoe UI-Regular/SegoeUI-Regular.woff') format('woff'),
  url('/frontend/local/fonts/Segoe UI/Segoe UI-Regular/SegoeUI-Regular.ttf') format('truetype'),
  url('/frontend/local/fonts/Segoe UI/Segoe UI-Regular/SegoeUI-Regular.svg#SegoeUI') format('svg');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Segoe UI';
  src: url('/frontend/local/fonts/Segoe UI/Segoe UI-Black/SegoeUIBlack.eot');
  src: url('/frontend/local/fonts/Segoe UI/Segoe UI-Black/SegoeUIBlack.eot?#iefix') format('embedded-opentype'),
  url('/frontend/local/fonts/Segoe UI/Segoe UI-Black/SegoeUIBlack.woff2') format('woff2'),
  url('/frontend/local/fonts/Segoe UI/Segoe UI-Black/SegoeUIBlack.woff') format('woff'),
  url('/frontend/local/fonts/Segoe UI/Segoe UI-Black/SegoeUIBlack.ttf') format('truetype'),
  url('/frontend/local/fonts/Segoe UI/Segoe UI-Black/SegoeUIBlack.svg#SegoeUI') format('svg');
  font-weight: 900;
  font-style: normal;
}
