@import "fonts";

@font-face {
  font-family: "PTRoubleSans";
  src: url("PTRoubleSans/PTRoubleSans.eot");
  src: url("PTRoubleSans/PTRoubleSans.eot?#iefix")format("embedded-opentype"),
  url("PTRoubleSans/PTRoubleSans.woff") format("woff"),
  url("PTRoubleSans/PTRoubleSans.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "GothamPro";
  src: url("Gotham Pro/GothamProRegular/GothamProRegular.eot");
  src: url("Gotham Pro/GothamProRegular/GothamProRegular.eot?#iefix")format("embedded-opentype"),
  url("Gotham Pro/GothamProRegular/GothamProRegular.woff") format("woff"),
  url("Gotham Pro/GothamProRegular/GothamProRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}
