.vacancies{
  width: 855px;
  padding-top: 10px;
  padding-bottom: 187px;
}
.vacancies__our-feature{
  margin-top: 30px;

  h3{
    font-size: 24px;
    font-weight: 300;
    letter-spacing: 0.8px;
    line-height: 1;
  }
  ul{
    list-style: none;
    margin: 0;
    padding: 0;
  }
  li{
    position: relative;
    font-weight: 200;
    margin: 30px 0;
    padding-left: 50px;
    letter-spacing: 0.4px;
    line-height: 1.7;
  }
  li>span{
    width: 30px;
    height: 30px;
    line-height: 28px;
    text-align: center;
    background-color: #e5ecef;
    position: absolute;
    top: 7px;
    left: 0;
    @include border-radius(50%);

    &:before{
      font-family: $fi;
      content: "\e908";
      font-size: 10px;
    }
  }
}
.vacancies-wrap{
  margin-top: 53px;
  text-align: center;
}
.vacancies__vacancy{
  background-color: #f6f8f9;
  padding: 45px 48px;
  text-align: left;
  margin: 30px 0;
}
.vacancies-vacancy__head{

}
.vacancies-vacancy__title{
  font-size: 28px;
  font-weight: 300;
  line-height: 1.2;
}
.vacancies-vacancy__body{
  margin-top: 30px;
  margin-bottom: 35px;
}
.vacancies-vacancy__preview{
}
.vacancies-vacancy__block{
  float: left;
  padding-right: 15px;
  width: 235px;

  &:nth-child(2){
    width: 215px;
  }
}
.vacancies-vacancy-block__title{
  font-weight: 300;
  letter-spacing: 0.2px;
  margin-bottom: 3px;
}
.vacancies-vacancy-block__text{
  color: #67686b;
  font-size: 18px;
  letter-spacing: 1.1px;
  word-spacing: -4px;
}
.vacancies-vacancy-block__currency{
  font-family: $frs;
  font-size: 12px;
  color: #67686b;
}
.vacancies-vacancy__detail{
  display: none;
}
.vacancies-vacancy__condition{
  margin-top: 35px;
}
.vacancies-vacancy-condition__title{
  font-weight: 300;
  line-height: 1;
}
.vacancies-vacancy__list{
  list-style: none;
  margin: 0;
  padding: 0;
}
.vacancies-vacancy__item{
  position: relative;
  font-weight: 200;
  margin: 13px 0;
  padding-left: 35px;
  letter-spacing: 0.4px;
  line-height: 1.7;
  color: #67686b;
}
.vacancies-vacancy__icon{
  width: 20px;
  height: 20px;
  line-height: 16px;
  text-align: center;
  background-color: #e5ecef;
  position: absolute;
  top: 5px;
  left: 0;
  @include border-radius(50%);

  &:before {
    font-size: 8px;
    color: #67686b;
  }
}
.vacancies-vacancy__footer{
  margin-bottom: 5px;
}
.vacancies__toggle{
  width: 232px;
  color: #67686b;
  background-color: transparent;
  padding: 0;
  cursor: pointer;
  float: left;
  margin-right: 30px;
  @include transition(0.3s);

  &:hover,
  &_expand{
    background-color: #e2e9ec;
    border-color: #e2e9ec;
    .vacancies__toggle-link{
      color: #000;
    }
  }
}
.vacancies__toggle-link{
  padding-top: 13px;
  padding-bottom: 14px;
  font-size: 18px;
  @include transition(0.3s);
}
.vacancies__btn{
  width: 262px;
  border: solid 2px #f84739;
  float: left;
  @include transition(0.3s);
  @include border-radius(29px);

  &:hover,
  &:focus{
    background-color: #fff;
    @include box-shadow(inset 100px 0 175px -50px transparent);
    .vacancies__btn-link{
      color: #ca0c10;
    }
  }
}
.vacancies__btn-link{
  padding-top: 10px;
  padding-bottom: 12px;
  font-size: 18px;
  color: #fff;
  @include transition(0.3s);
}