.contacts{
  padding-top: 30px;
  padding-bottom: 170px;
}
.contacts__panels{
}
.contacts__panel{
  background-color: #f6f8f9;
  float: left;
  width: 350px;
  margin-right: 30px;
  padding: 55px 65px;

  &:nth-child(3n){
    margin-right: 0;
  }
}
.contacts-panel__title{
  font-weight: 300;
  font-size: 24px;
  margin-bottom: 30px;
}
.contacts-panel__tels{
  position: relative;
}
.contacts-panel__tel{
  
}
.contacts-panel__icon{
  padding-left: 35px;

  &:before{
    position: absolute;
    top: 5px;
    left: 0;
    font-size: 15px;
    color: #b3b5b7;
  }
}
.contacts-panel__mails{
  position: relative;
  margin-top: 22px;
}
.contacts-panel__mail{
  color: #ca0c10;
  border-bottom: dotted 1px;
  display: inline-block;
  padding-bottom: 3px;
}
.contacts-panel__addresses{
  position: relative;
  margin-top: 18px;
}
.contacts-panel__address{
  font-weight: 200;
}
.contacts-panel__footer{
  padding-left: 35px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.contacts-panel__link{
  color: #67686b;
  font-weight: 300;
  font-size: 12px;
  border: none;
  border-bottom: dotted 1px;
  padding: 0;
  background-color: transparent;
  cursor: pointer;

  &:focus{
    outline: none;
  }
}
.contacts__mode{
  font-size: 24px;
  text-align: center;
  margin-top: 50px;
}
.contacts-mode__title{
  font-weight: 200;
}
.contacts-mode__time{
  font-weight: 300;
}
.contacts__map{
  margin-top: 50px;
  height: 433px;
  position: relative;
}
.contact-map__preloader{
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: #fff url('/images/91.svg') no-repeat center center;
  @include transition(0.4s);
}