.special-rate__tables{
  margin-top: 47px;
}
.special-rate-table__container{
  float: left;
  margin-right: 30px;

  &:last-child{
    margin-right: 0;
  }
  h2{
    letter-spacing: 0.5px;
  }
  .special-rate__table_main{
    td:last-child{
      width: 45px;
    }
  }
  .special-rate__table_add{
    td:last-child{
      width: 100px;
    }
  }
  table{
    width: 540px;
    font-weight: 200;
    font-size: 14px;
    color: #000;
    border-collapse: collapse;
    letter-spacing: 0.5px;
    margin-top: 30px;

    .special-rate-table__currency{
      font-family: $frs;
      font-size: 12px;
    }
    .icon{
      color: #f13f3a;
      font-size: 20px;
    }
    tr{
      &:nth-child(odd){
        background-color: #f6f8f9;
      }
      &:nth-child(even){
        background-color: #f0f1f2;
      }
      &.disabled{
        color: #b1b1b1;
        .icon{
          color: #c3c3c3;
        }
      }
    }
    td{
      padding: 11px 18px 12px 18px;
      line-height: 21px;

      &:last-child{
        text-align: right;
        padding-left: 0;
      }
    }
  }
}