.category{
  padding-top: 15px;
  padding-bottom: 110px;
}
.category__panels{
  margin-top: 25px;
  text-align: center;
}
.category__panel{
  text-align: left;
  border: solid 1px #b3b8c7;
  padding: 20px 30px;
  min-height: 182px;
  margin: 29px 0;
  @include transition(0.3s);
  @include border-radius(5px);

  &:first-child{
    margin-top: 0;
  }
  &:hover,
  &:focus{
    background-color: #f6f8f9;
    border-color: transparent;
  }
}
.category-panel__title{
  color: #67686b;
  display: block;
  font-size: 20px;
  font-weight: 300;
  max-width: 600px;
  margin-bottom: 20px;
  @include transition(0.3s);
  
  &:hover,
  &:focus{
    color: #ef3c3a;
  }
}
.category-panel__values-and-btn{

}
.category-panel__values{
  float: left;
}
.category-panel__value{
  float: left;
  margin-right: 55px;
}
.category-panel-value__title{
  color: #67686b;
  font-weight: 200;
  margin-bottom: 5px;
}
.category-panel-value__number{
  font-family: $fgp;
  font-size: 32px;
}
.category-panel-value__currency{
  font-family: $frs;
  font-size: 28px;
}
.category-panel-value_measure{
  font-size: 20px;
  font-weight: 300;
}
.category-panel_btn{
  float: right;
  width: 230px;
  margin-top: 5px;
  color: #67686b;
  @include transition(0.3s);

  &:hover,
  &:focus{
    background-color: #ef3c3a;
    border-color: #ef3c3a;
    
    .category-panel__btn-link{
      color: #fff;
    }
  }
  .category-panel__btn-link{
    color: #67686b;
  }
}
.category-panel__btn-link{
  font-size: 18px;
  padding-top: 11px;
  padding-bottom: 13px;
  @include transition(0.3s);
}
.category-panel__footer{

}
.category-panel-footer__btn{
  width: 243px;
  display: inline-block;
  margin-right: 30px;
  font-size: 18px;

  &:last-child{
    margin-right: 0;
  }
  &.btn_main{
    border: solid 1px #f94839;
  }
}
.category-panel-footer__btn-link{
  padding-top: 16px;
  padding-bottom: 18px;
  font-size: 18px;
}
.category-panel-footer__btn-refresh{
  border: solid 2px #b3b8c7;
  background-color: transparent;
  color: #67686b;
  padding: 0;

  .btn__link{
    padding-top: 15px;
    padding-bottom: 17px;
    color: #67686b;
  }

  &:hover{
    color: #000;

    .btn__link{
      color: #000;
    }
  }
}
.category-panel-footer__btn-icon-refresh{

  &:before{
    font-size: 16px;
    margin-right: 17px;
    vertical-align: middle;
  }
}