.news{
  width: 855px;
  padding-bottom: 140px;
}
.news-block{
  background-color: #fff;
  border: solid 1px #bcc7d1;
  padding: 50px;
  margin: 30px 0;
  @include border-radius(5px);
  @include transition(0.3s);

  &:hover,
  &:focus{
    background-color: #f6f8f9;
    border-color: #f6f8f9;
  }
}
.news-block__date{
  font-weight: 200;
  margin-bottom: 18px;
}
.news-block__title{
  font-weight: 300;
  font-size: 20px;
  color: #000;
  letter-spacing: 0.4px;
  margin-bottom: 20px;
  display: inline-block;
  @include transition(0.3s);

  &:hover,
  &:focus{
    color: #ca0c10;
  }
}
.news-block__text{
  font-weight: 200;
  color: #67686b;
  letter-spacing: 0.3px;
  line-height: 1.9;
  margin-bottom: 20px;
}
.news-block__btn{
  width: 240px;
  background-color: #fff;
  position: relative;
  @include transition(0.3s);
  
  &:after{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    @include border-radius(29px);
    @include gradient(-90deg, rgb(253,77,57) 0%, rgb(234,54,59) 100%);
    @include transition(opacity 0.4s);
  }
  &:hover,
  &:focus{
    border-color: #f84739;
    background-color: #f84739;
    .new-block__btn-link {
      color: #fff;
    }

    &:after{
      opacity: 1;
    }
  }
}

.new-block__btn-link {
  padding-top: 18px;
  padding-bottom: 19px;
  font-size: 18px;
  position: relative;
  z-index:3;
  @include transition(0.3s);
}

