/**
* Форма обратной связи
* #Заголовок
* #Контейнер контрола
* #Контрол
* #Checkbox / Radio
* #Описание поля
* #Submit
* #Footnote
* #Модальная
* #Сообщение после отправки
* #Капча
 */
.feedback-form{
  margin: auto;
}
/* #Заголовок */
.feedback-form__title{
  margin-bottom: 40px;
}
.feedback-form__title-value{
  line-height: 1;
  margin: 0;
  color: #000!important;
}
/* #Контейнер контрола */
.feedback-form__group{
  margin-top: 10px;
  width: 100%;
  position: relative;
  outline: solid 1px transparent;
  @include transition(0.15s);

  &_has_error{
    outline-color: #fb4a39;
  }
}
/* #Контрол */
.feedback-form__control:not(.feedback-form__control_type_file),
.feedback-form__control_type_list_pseudo {
  background-color: #f2f4f5;
  border: none;
  width: 100%;
  color: #9d9fa1;
  font-weight: 300;
  font-size: 14px;
  padding: 17px;
  font-family: $fsui;
  display: block;
  @include border-radius(3px);

  &::-webkit-input-placeholder {
    color: #9d9fa1;
  }
  &:-ms-input-placeholder {
    color: #9d9fa1;
  }
  &::-moz-placeholder {
    color: #9d9fa1;
  }

  &:focus{
    outline: none;
  }
}
.feedback-form__control_type_textarea{
  resize: vertical;
}
.feedback-form__control_type_textarea_tall{
  height: 180px;
}
.feedback-form__control_type_textarea_short{
  height: 120px;
}
.feedback-form__control_type_list_hidden{
  height: 0;
  width: 0;
  visibility: hidden;
  opacity: 0;
}
.feedback-form__control_type_list_pseudo{
  text-align: left;
  padding-right: 50px;
  cursor: pointer;
  position: relative;
  @include transition(0.3s);

  option{

  }
}
.feedback-form__control_type_list_pseudo_expand{
  background-color: #ebeced;
  @include border-radius(3px 3px 0 0);
  .form-select__icon{
    @include transform(#{translateY(-50%) rotate(-180deg)});
  }
}
.feedback-form__control_type_list_pseudo .feedback-form__icon{
  @include transition(0.3s);
  position: absolute;
  top: 50%;
  right: 23px;
  @include transform(#{translateY(-50%) rotate(0)});

  &:before{
    font-size: 10px;
    color: #959698;
  }
}
.feedback-form__control_type_options{
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: left;
  z-index: 6;
}
.feedback-form__control_type_option{
  background-color: #ebeced;
  border: none;
  width: 100%;
  color: #9d9fa1;
  font-weight: 300;
  font-size: 14px;
  padding: 17px;
  font-family: $fsui;
  cursor: pointer;
  @include transition(0.3s);

  &:first-child{
    &:hover,
    &:focus{
      background-color: #ebeced;
      outline: none;
      cursor: default;
    }
  }

  &:hover,
  &:focus{
    background-color: #e3e5e6;
    outline: none;
  }
}
/* #Checkbox / Radio */
.feedback-form__user-consent{
  margin-top: 25px;
  margin-bottom: 10px;
}
.custom-control {
  cursor: pointer;
  width: 100%;
  margin-top: 12px;
}

.custom-control__input {
  width: 20px;
  height: 20px;
  margin: 0;
  position: absolute;
  opacity: 0;
  visibility: hidden;
  z-index: -1;
  top: 0;
  left: 0;
}
.custom-control__indicator{
  width: 20px;
  height: 20px;
  line-height: 16px;
  text-align: center;
  background-color: #e2e5e7;
  margin-right: 12px;
  display: inline-block;
  @include border-radius(3px);

  &:before{
    vertical-align: middle;
    display: inline-block;
    font-weight: 700;
    font-family: $fi;
    font-size: 10px;
    color: transparent;
  }
}
.custom-control__name {
  font-size: 14px;
  font-weight: 300;
  color: #919191;
}
.custom-control_type_checkbox .custom-control__input:checked ~ .custom-control__indicator{

    &:before{
      color: $mcr;
    }
}
.custom-control__link{
  color: $mcr;
  font-size: 14px;
  font-weight: 300;
  @include transition(0.3s);
  
  &:hover{
    color: #000;
  }
}
/* #File*/
.feedback-form__control_type_file{
  position: absolute;
  top: 0;
  left: 0;
  height: 0;
  width: 0;
  opacity: 0;
  visibility: hidden;
}
.feedback-form__pseudo-file-control{
  height: 50px;
  line-height: 46px;
  width: 100%;
  display: block;
  border: dashed 1px #df1e54;
  color: #ca0c10;

  &:before{
    font-size: 14px;
    vertical-align: middle;
  }

  .feedback-form__link{
    border-bottom: dotted 1px;
    color: #ca0c10;
    margin-left: 10px;
    margin-right: 5px;
  }
}
.feedback-form__files-list{
  font-size: 14px;
  color: #ca0c10;
  margin-top: 5px;
}
/* #Submit */
.feedback-form__submit{
  border: solid 1px #f84739;
  width: 280px;
  font-size: 18px;
  padding-top: 18px;
  padding-bottom: 19px;
  margin-top: 30px;
  @include transition(0.3s);

  .btn__link{
    font-family: $fsui;
    @include transition(0.3s);
  }
  
  &_yellow{
    background-color: #fff000;
    padding-top: 13px;
    padding-bottom: 14px;
    width: 238px;

    .btn__link{
      color: #000;
      font-size: 14px;
    }
  }
  
  &:disabled{
    background: none;
    background-color: #F6F8F9;
    border-color: #F6F8F9;
    color: #A4A4A4;
    cursor: no-drop;
    @include box-shadow(inset 0px 0px 0px 0px transparent);

    .btn__link{
      color: #A4A4A4;
    }
  }
}
/* #Footnote */
.feedback-form__footnote {
  font-size: 11px;
  line-height: 12px;
  color: #3c3c3c;
  margin-top: 10px;
}
/* #Модальная */
.feedback-form-modal-wrap{
  position: relative;
  margin: auto;
  text-align: center;
  background-color: #fff;
  display: none;
  padding: 60px;
  max-width: 520px;
  @include border-radius(5px);
}
.feedback-form-modal-wrap_wide{
  padding: 60px 130px;
  width: 600px;
}
.feedback-form_modal{
  width: 400px;
}
.feedback-form_modal-narrow{
  width: 340px;
}
.feedback-form__close{
  position: absolute;
  top: 15px;
  right: 20px;
  cursor: pointer;
  height: 15px;
  width: 15px;
  &:before{
    color: #bcc7d1;
    font-size: 10px;
    @include transition(0.2s);
  }

  &:hover{
    &:before{
      color: #ca0b10;
    }
  }
}
.feedback-form__title-subtitle{
  font-weight: 200;
  text-align: center;
  margin-top: 20px;
}
/* #Сообщение после отправки */
.feedback-success-message{
  width: 520px;
  z-index: 15;
  text-align: center;
  padding: 65px 100px 90px 100px;
  @include border-radius(5px);
}
.feedback-success-message__icon{
  background-color: #f1f4f6;
  text-align: center;
  width: 100px;
  height: 100px;
  line-height: 98px;
  margin: auto;
  margin-bottom: 15px;
  @include border-radius(50%);

  &:before{
    color: #fa5239;
    font-size: 40px;
  }
}
.feedback-success-message__title{
  font-size: 42px;
  font-weight: 300;
  line-height: 1;
  margin-bottom: 32px;
}
.feedback-success-message__text{
  font-weight: 200;
  font-size: 20px;
}