
// Mixins
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}
@mixin transition($content) {
  -webkit-transition: $content;
  -moz-transition: $content;
  -ms-transition: $content;
  transition: $content;
}
@mixin transform($content) {
  -webkit-transform: $content;
  -moz-transform: $content;
  -ms-transform: $content;
  transform: $content;
}
@mixin transition-delay($td-content) {
  -webkit-transition-delay: $td-content;
  -moz-transition-delay: $td-content;
  -ms-transition-delay: $td-content;
  transition-delay: $td-content;
}
@mixin box-shadow($bs-content) {
  -webkit-box-shadow: $bs-content;
  -moz-box-shadow: $bs-content;
  -ms-box-shadow: $bs-content;
  box-shadow: $bs-content;
}
@mixin text-shadow($bs-content) {
  -webkit-text-shadow: $bs-content;
  -moz-text-shadow: $bs-content;
  -ms-text-shadow: $bs-content;
  text-shadow: $bs-content;
}
@mixin gradient($type, $bc, $ec){
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient (GradientType=$type, startColorstr=$bc, endColorstr=$ec)"; /* IE 8-9 */
  background: -webkit-linear-gradient($type, $bc, $ec); /* Safari 5.1, iOS 5.0-6.1, Chrome 10-25, Android 4.0-4.3 */
  background: -moz-linear-gradient($type, $bc, $ec); /* Firefox 3.6-15 */
  background: -ms-linear-gradient(top, $ec, $bc); /* IE 11 */
  background: -o-linear-gradient($type, $bc, $ec); /* Opera 11.1-12 */
  background: linear-gradient($type, $bc, $ec); /* Opera 15+, Chrome 25+, IE 10+, Firefox 16+, Safari 6.1+, iOS 7+, Android 4.4+ */
}
@mixin transform($content){
  -webkit-transform:  $content;
  -moz-transform:  $content;
  -o-transform: $content;
  transform:  $content;
}
@mixin border-image($bs-content) {
  -webkit-border-image: $bs-content;
  -moz-border-image: $bs-content;
  -o-border-image: $bs-content;
  border-image: $bs-content;
}