.services{
  padding-top: 17px;
  padding-bottom: 100px;
  width: 855px;
}

.services-block__icon{
  background-color: #eaf1f4;
  width: 50px;
  height: 50px;
  line-height: 50px;
  position: absolute;
  top: 0;
  left: 0;

  &:before{
    color: $mcr;
    font-size: 28px;
  }
}
.services-block__title{
  padding-left: 70px;
  padding-top: 10px;
  display: block;
  @include transition(0.3s);

  &:hover{
    color: #ca0b10;
  }
}
.services-block__item{
  min-height: 50px;
}