.attendance-section{
  padding-top: 60px;
  padding-bottom: 60px;
}
.attendance-section__header{
  text-align: center;
}
.attendance-section__footer{
  text-align: center;
  margin-top: 50px;
}
.attendance-section__refresh{
  display: inline-block;
  background-color: transparent;
  border: none;
  padding: 0;
}
.attendance-section__refresh-link{
  color: #0076d6;
  font-size: 18px;
  font-weight: 200;

  &:hover{
    .attendance-section__refresh-underline{
      border-bottom-color: transparent;
    }
  }
}
.attendance-section__refresh-icon{
  &:before{
    font-size: 11px;
    margin-right: 10px;
    display: inline-block;
  }
}
.attendance-section__refresh-underline{
  border-bottom: dashed 1px;
  @include transition(0.2s);
}