.products-vendors{
  padding-top: 35px;
  padding-bottom: 90px;

  &_small{

    .products-vendors__title, .products-vendors__footer{
      display: block;
    }
    .products-vendors__list{
      margin-top: 30px;
    }
    .products-vendors-logo-wrap{
      height: 40px;
    }
    .products-vendors-row__item{
      padding: 0 45px;

    }
  }
}
.products-vendors__title{
  display: none;
}
.products-vendors__footer{
  display: none;
}
.products-vendors__logos{
  text-align: justify;

  &:after{
    content: '';
    display: inline-block;
    width: 100%;
    height: 0;
  }
}
.products-vendors__row{

}
.products-vendors-row__item{
  display: inline-block;
  padding: 0 8px;

  &:nth-child(5n), &:first-child{
    padding-left: 0;
  }
  &:nth-child(4n){
    padding-right: 0;
  }
  &:focus{
    outline:  none;
  }
}
.products-vendors-logo-wrap{
  height: 130px;
  display: table-cell;
  vertical-align: middle;
  @include transition(0.3s);

  filter: url("data:image/svg+xml;utf8,&lt;svg xmlns=\'http://www.w3.org/2000/svg\'&gt;&lt;filter id=\'grayscale\'&gt;&lt;feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/&gt;&lt;/filter&gt;&lt;/svg&gt;#grayscale"); /* Firefox 10+, Firefox on Android */
  filter: gray; /* IE6-9 */
  -webkit-filter: grayscale(100%);
  opacity: 0.5;

  &:hover,
  &:focus{
    filter: none;
    opacity: 1;
  }
}
.products-vendors__logo{
  max-height: 130px;
}
.products-vendors__modal{
  position: relative;
  margin: auto;
  text-align: left;
  background-color: #fff;
  display: none;
  padding: 60px;
  padding-top: 54px;
  width: 950px;
  @include border-radius(5px);
}
.products-vendors-modal__title{
  font-weight: 300;
  font-size: 42px;
  line-height: 1;
  letter-spacing: 1.3px;
}
.products-vendors-modal__text{
  font-size: 18px;
  font-weight: 200;
  letter-spacing: 0.4px;
  line-height: 1.7;
  p{
    margin: 10px 0;
  }
}
.products-vendors-modal__btn{
  width: 280px;
  border: solid 2px #b3b8c7;
  margin-top: 22px;

  .products-vendors-modal__btn-link{
    padding-top: 17px;
    padding-bottom: 18px;
    color: #67686b;
  }
  
  &:hover{
    .products-vendors-modal__btn-link{
      color: #000;
    }
  }
}
.products-vendors-modal__close{
  position: absolute;
  top: 15px;
  right: 20px;
  cursor: pointer;
  height: 15px;
  width: 15px;
  &:before{
    color: #bcc7d1;
    font-size: 10px;
  }
  
  &:hover{
    &:before{
      color: #ca0b10;
    }
  }
}
.products-vendors__text_none,
.products-vendors__title_none,
.products-vendors__link_none{
  display: none;
}