.banner-on-main{
  height: 386px;
  background-image: url('/images/banner.jpg');
  background-repeat: no-repeat;
  background-position: bottom center;
  -webkit-background-size: cover;
  background-size: cover;
}
.banner-on-main__container{
  height: 100%;
}
.banner-on-main__content{
  width: 100%;
  margin-top: 85px;
}
.banner-on-main-slider-wrap{
  float: right;
  width: 870px;
  height: 214px;
}
.banner-on-main__slider{
  background-color: #fff;
  width: 870px;
  height: 214px;
  position: relative;

  .slick-slide{
    border: none;
  }
  .slick-dots {
    bottom: 8px;
    z-index: 1;
    position: absolute;
    left: 15px;
    list-style: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
    li {
      padding: 0 4px;
      float: left;
      button {
        border: 0;
        background-color: #dde6ea;
        color: rgba(0, 0, 0, 0);
        height: 2px;
        width: 40px;
        cursor: pointer;
      }
      button:focus {
        outline: none;
      }
    }
    li.slick-active {
      button {
        background-color: $mcr;
      }
    }
  }
}
.banner-on-main__slide{
  width: 870px;
  height: 214px!important;
}
.banner-on-main-slide__content{
  width: 870px;
  height: 214px!important;
  background-repeat: no-repeat;
  background-position: center center;
  display: block;

  &:focus{
    outline: none;
  }
}

.banner-on-main-slider__arrow{
  height: 42px;
  width: 42px;
  line-height: 44px;
  background-color: #2b2e32;
  text-align: center;
  cursor: pointer;
  position: absolute;
  bottom: 0;
  z-index: 1;
  @include transition(0.3s);

  &:before{
    color: #fff;
    font-size: 15px;
    display: inline-block;
    cursor: pointer;
  }

  &:hover{
    background-color: rgb(234,54,59);
    @include box-shadow(inset 40px 0 40px -20px rgb(253,77,57));
  }
}
.banner-on-main-slider__arrow_left{
  right: 42px;

  &:before{
    margin-left: 5px;
  }
}
.banner-on-main-slider__arrow_right{
  right: 0;

  &:before{
    margin-right: 5px;
  }
}
.banner-on-main-panel-wrap{
  float: left;
  height: 216px;
  width: 269px;
}
.banner-on-main__panel{
  height: 216px;
  width: 269px;
  padding: 40px;
  display: block;
  background-repeat: no-repeat;
  background-position: center center;
}
