.products{
  padding-top: 20px;
  padding-bottom: 120px;
  width: 855px;

  &.text p{
    letter-spacing: 0.5px;
    line-height: 1.95;
  }
}
.products-text-block{
  &.products-text-block_tall{
    padding-bottom: 62px;
  }
}
.product__section{
  color: #000;
  @include transition(0.3s);

  &:hover{
    color: #ca0b10;
  }
}
.products-block__icon{
  height: 50px;
  width: 50px;
  line-height: 50px;
  background-color: #eaf1f4;
  text-align: center;
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  @include border-radius(50%);

  &:before{
    font-size: 26px;
    color: #ca0c10;
  }
}
.products-text-block__title-and-list{
  margin-left: 70px;
  padding-top: 10px;
}
.products-text-block__list{
  padding: 0;
  padding-right: 45px;
  margin: 0;
  margin-top: 3px;
  margin-bottom: 5px;
  list-style: none;
}
.products-text-block__item{
  margin: 20px 0;
}
.products-text-block__link{
  color: #67686b;
  font-weight: 200;
  @include transition(0.2s);
  
  &:hover,
  &:focus{
    color: #ca0c10;
  }
}
.products-text-block__col{
  float: left;
  width: 50%;
  padding-left: 20px;

  &:first-child{
    padding-left: 0;
  }
}
.products__vendors{
  padding-top: 30px;
}
.products-vendors__title{
  font-weight: 300;
  font-size: 20px;
}
.products-vendors__list{
  margin-top: 20px;
}
.product-vendors__vendor{
  float: left;
  background-repeat: no-repeat;
  background-position: left center;
  height: 70px;
}
.product-vendors__vendor_v1{
  background-image: url('/images/vendors/1.png');
  width: 255px;
}
.product-vendors__vendor_v2{
  background-image: url('/images/vendors/2.png');
  width: 255px;
}
.product-vendors__vendor_v3{
  background-image: url('/images/vendors/3.png');
  width: 220px;
}
.product-vendors__vendor_v4{
  background-image: url('/images/vendors/4.png');
  width: 125px;
}
.product-vendors__vendor_v5{
  background-image: url('/images/vendors/5.png');
  width: 180px;
}
.product-vendors__vendor_v6{
  background-image: url('/images/vendors/6.png');
  width: 240px;
}
.product-vendors__vendor_v7{
  background-image: url('/images/vendors/7.png');
  width: 325px;
}
.product-vendors__vendor_v8{
  background-image: url('/images/vendors/8.png');
  background-position: right center;
  width: 110px;
}
.products-vendors__footer{
  margin-top: 30px;
}
.products-vendors__btn{
  border-color: #565a63;
  width: 210px;

  .products-vendors__btn-link{
    color: #565a63;
  }
  
  &:hover{
    .products-vendors__btn-link{
      color: #000;
    }
  }
}
.products-vendors__btn-link{
  padding-top: 14px;
  padding-bottom: 15px;
  font-size: 14px;
}