.status{
  padding-top: 63px;

  &_tall{
    padding-bottom: 115px;
  }
}
.status__header{

}
.status__slider{
  width: 100%;
  height: 300px;
  margin-top: 30px;
  margin-bottom: 25px;

  .slick-dots {
    bottom: 8px;
    z-index: 1;
    position: absolute;
    left: 50%;
    top: 100%;
    list-style: none;
    padding: 0;
    margin: 0;
    margin-top: 12px;
    cursor: pointer;
    @include transform(translateX(-50%));

    li {
      padding: 0 4px;
      float: left;
      button {
        border: 0;
        background-color: #dde6ea;
        color: rgba(0, 0, 0, 0);
        height: 2px;
        width: 40px;
        cursor: pointer;
      }
      button:focus {
        outline: none;
      }
    }
    li.slick-active {
      button {
        background-color: $mcr;
      }
    }
  }
}
.status-slide-wrap{
  width: 100%;
  padding: 0 95px;
}
.status__slide{
  height: 280px;
  margin-top: 5px;
  margin-bottom: 15px;
}

.status-slide__img{
  display: block;
  float: left;
  width: 190px;
  height: 280px;
  margin-right: 50px;
  text-align: center;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: 100%;
  background-size: 100%;
  border: none;
  position: relative;
  @include box-shadow(#{0px 2px 5px 0px rgba(7, 10, 14, 0.1),0px 5px 20px 0px rgba(7, 10, 14, 0.1)});
  @include border-radius(5px);

  &:hover{
    .status-slide__img-pattern{
      opacity: 1;
      visibility: visible;
    }
  }
}
.status-slide__img-pattern{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: transparentize(#333, 0.5);
  z-index: 1;
  opacity: 0;
  visibility: hidden;
  @include transition(0.3s);

  &:before{
    font-size: 48px;
    color: #fff;
    vertical-align: middle;
    position: absolute;
    top: 50%;
    left: 50%;
    @include transform(translate(-50%, -50%));
  }
}
.status-slide__title-and-text{
  float: left;
  width: 680px;
}
.status-slide__title{
  margin-bottom: 25px;
}
.status-slide__text{
  font-weight: 200;
  letter-spacing: 0.4px;
  word-spacing: 2px;
  line-height: 1.9;
}
.status-slider__arrow{
  background-color: #2b2e32;
  height: 35px;
  width: 35px;
  line-height: 33px;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 50%;
  z-index: 1;
  @include border-radius(3px);
  @include transition(0.3s);
  @include transform(translateY(-50%));

  &:before{
    color: #fff;
    font-size: 10px;
    display: inline-block;
  }

  &:hover{
    background-color: #f03d3a;
    outline: none;
  }
  &:focus{
    outline: none;
  }
}
.status-slider__arrow_left{
  left: 0;
}
.status-slider__arrow_right{
  right: 0;
}