.visibility {
  opacity: 0;
  transition: visibility 0s linear 1s, opacity .5s linear .5s;
  visibility: hidden;
}

.visibility_manual {

}

.visibility_on_load {
  opacity: 1;
  visibility: visible;
  transition-delay: 0s;
}