.rate-tabs{
  display: none;
  margin-bottom: 60px;
}
.rate-tabs__tablist{
  width: 100%;
}
.rate-tabs-tab-wrap{
  display: table-cell;
  width: 1%;
  text-align: center;
  float: none;

  &:first-child{
    .rate-tabs__tab{
      margin-left: 0;
    }
  }
  &:last-child{
    .rate-tabs__tab{
      margin-right: 0;
    }
  }
}
.rate-tabs__tab{
  margin: 0 2px;
  display: block;
  background-color: #f0f1f2;
  color: #67686b;
  font-weight: 200;
  padding-top: 22px;
  padding-bottom: 22px;
  @include border-radius( 3px 3px 0 0);
  @include transition(0.3s);

  &:hover{
    background-color: #f6f8f9;
  }
}
.rate-tabs__tab_active{
  background-color: #f6f8f9;
}
.rate-tabs__tabpanels{
  @include transition(0.4s);
}
.rate-tabs__tabpanel{

}
.rate-tab__table{
  border-collapse: collapse;

  tr:nth-child(odd){
    background-color: #f6f8f9;
  }
  tr:nth-child(even){
    background-color: #f0f1f2;
  }
  th{
    padding: 34px 35px 38px 35px;
    font-size: 18px;
    text-align: left;
    font-weight: 400;
  }
  th,td{

    &:first-child{
      width: 510px;
    }
    &:nth-child(2){
      width: 320px;
    }
  }
  td{
    padding: 25px 37px;
    font-weight: 200;
  }
}