.services-detail{
  padding-top: 15px;
  padding-bottom: 90px;
}
.service-detail__icon{

}
.service-detail__certificate{

}
.service-detail-certificate__subheader{

}
.service-detail-certificate__content{
  margin-bottom: 10px;
  margin-top: 25px;
}
.service-detail-certificate__img{
  float: left;
  width: 255px;
  height: 355px;
  margin-right: 30px;
  background-image: url("/images/certificate.png");
  background-repeat: no-repeat;
  background-position: center center;
  @include box-shadow(#{0px 2px 5px 0px rgba(7, 10, 14, 0.1),0px 5px 20px 0px rgba(7, 10, 14, 0.1)});
  @include border-radius(5px);
}
.service-detail-certificate__text{
  float: left;
  width: 500px;
  font-size: 18px;
  font-weight: 200;
  letter-spacing: 0.4px;
  line-height: 1.6;
}
.service-detail-features{
  margin-top: 90px;
}
.service-detail__feature{
  float: left;
  margin-left: 5px;
  margin-right: 65px;
}
.service-detail__icon{
  height: 70px;
  width: 70px;
  line-height: 68px;
  background-color: #f1f4f6;
  float: left;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  margin-right: 25px;
  @include border-radius(50%);

  &:before{
    font-size: 25px;
    color: $mcr;
  }
  &.icon_time{
    @include transform(scaleX(-1));
  }
}
.service-detail__values{
  float: left;
}
.service-detail__value{
  font-weight: 200;
  display: block;
  margin-bottom: 5px;
}
.service-detail__number{
  font-family: $fgp;
  font-size: 32px;
  line-height: 1;
}
.service-detail__time{
  font-size: 26px;
  font-family: $fgp;
}
.service-detail__measure{
  font-size: 18px;
}
.service-detail__currency{
  font-family: $frs;
  font-size: 28px;
  line-height: 1;
}