.about-trigger-section{
  background-color: #f6f8f9;
}
.about-trigger{
  float: left;
  width: 33.33%;
  text-align: center;
  padding: 50px;
}
.about-trigger__icon{
  width: 120px;
  height: 120px;
  line-height: 120px;
  background-color: #eaf1f4;
  text-align: center;
  margin: auto;
  margin-bottom: 30px;
  @include border-radius(50%);

  &:before{
    font-size: 55px;
    color: #ca0c10;
  }
}
.about-trigger__title{
  font-weight: 300;
  font-size: 24px;
  letter-spacing: 0.3px;
  line-height: 1;
  margin-bottom: 13px
}
.about-trigger__desc{
  font-weight: 200;
  line-height: 1.9;
}