.sidebar{
  width: 285px;
  float: left;
  background-color: #fff;
  padding-right: 30px;
  margin-top: 50px;
}
.sidebar__menu{
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
  margin-bottom: 75px;
  margin-top: 3px;
}
.sidebar__item{
  margin-top: 23px;

  &:first-child{
    margin-top: 0;
  }
}
.sidebar-menu__link{
  color: #27292d;
  font-weight: 200;
  display: block;
  cursor: pointer;
  @include transition(0.3s);

  &:hover{
    color: #ca0c10;
  }
}
.sidebar-menu__link_active{
  cursor: default;
  color: #ca0c10;
}
.sidebar__banner{
  width: 100%;
  height: 80px;
  margin-bottom: 50px;
  background: no-repeat center left;
  display: block;
}
.sidebar__banner_v1{
  background-image: url('/images/sidebar__img.png');
}
.sidebar__banner_v2{
  background-image: url('/images/sidebar__imgw.png');
}