.accordion{
  margin: 30px 0;
  border: solid 1px #b3b8c7;
  @include border-radius(5px);
}
.accordion_grey{
  background-color: #f6f8f9;
  border-color: #f6f8f9;
  padding:  20px 15px 12px 27px;
  .accordion-item__text{
    padding-bottom: 38px;
  }
}
.accordion__item{
  border-bottom: solid 1px #b3b8c7;
  font-weight: 200;
  letter-spacing: 0.4px;
  line-height: 1.7;
  padding:  21px 100px 25px 21px;
  position: relative;
  @include transition(0.3s);

  &:last-child{
    border-bottom-color: transparent;
  }
  &_expand{
    &.accordion-item__icon:before{
      background-color: #f2403a;
      color: #fff;
      border-color: #f2403a;
      @include transform(rotate(180deg));
      @include transition(#{background 0.3s, border 0.3s 0s, color 0.3s 0s, transform 0.3s ease 0.2s});
    }
  }

  &[data-collapse-id]{
    .accordion-item__text{
      @include transition(0.3s);
    }
  }
}
.accordion-item__title{
  font-weight: 600;
  font-size: 20px;
}
.accordion__anchor{
  cursor: pointer;
}
.accordion-item__icon{
  &:before{
    position: absolute;
    top: 18px;
    right: 26px;
    height: 30px;
    width: 30px;
    line-height: 30px;
    border: solid 1px #b5bac9;
    font-size: 4px;
    color: #b5bac9;
    text-align: center;
    @include border-radius(50%);
    @include transition(#{background 0.3s 0.2s, border 0.3s 0.2s, color 0.3s 0.2s, transform 0.3s ease 0s});
    @include transform(rotate(0deg))
  }
}
.accordion-item__text{
  overflow: hidden;

}
.accordion__collapsed{
  //height: 26px;
}
.accordion__hided{
  display: none;
}
.accordion__target{

}