.gallery{
  padding-top: 10px;
  padding-bottom: 135px;
}
.gallery-block{
  width: 540px;
  height: 330px;
  float: left;
  display: block;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  background-size: cover;
  position: relative;
  color: #fff;
  padding: 45px 50px;
  margin-top: 15px;
  margin-bottom: 15px;
  @include border-radius(5px);

  &:nth-child(odd){
    margin-right: 15px;
  }
  &:nth-child(even){
    margin-left: 15px;
  }
  &:after{
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: transparentize(#000, 0.55);
    @include border-radius(5px);
  }
  &:hover,
  &:focus{
    .gallery-block__link{
      border-bottom-color: transparent;
    }
  }
}
.gallery-block__date{
  font-weight: 300;
  position: relative;
  z-index: 2;
  margin-bottom: 10px;
}
.gallery-block__title{
  font-weight: 200;
  font-size: 38px;
  position: relative;
  line-height: 1;
  letter-spacing: 1px;
  z-index: 2;
}
.gallery-block__link{
  color: #fff;
  border-bottom: solid 1px;
  position: absolute;
  z-index: 2;
  bottom: 50px;
  left: 50px;
  font-size: 18px;
  @include transition(0.3s);

  &:hover,
  &:focus{
    border-bottom-color: transparent;
  }
}