.attendance__list{
  margin-top: 20px;
}
.attendance__list_tall{
  padding-bottom: 80px;
}
.attendance__item{
  width: 540px;
  height: 140px;
  border: solid 1px #b3b8c7;
  position: relative;
  padding: 30px 20px;
  margin: 15px;
  float: left;
  @include transition(0.3s);
  @include border-radius(5px);

  &:nth-child(odd) {
    margin-left: 0;
  }
  &:nth-child(even){
    margin-right: 0;
  }
  &:hover{
    background-color: #f6f8f9;
    border-color: transparent;
  }
}
.attendance-item__icon-box{
  position: absolute;
  height: 60px;
  width: 60px;
  line-height: 60px;
  left: 20px;
  top: 50%;
  background-color: #f2f4f5;
  text-align: center;
  @include transform(translateY(-50%));
  @include border-radius(50%);

  &:before{
    font-size: 24px;
    color: #f0504c;
  }
}
.attendance-item__icon{
  position: relative;
  top: 50%;
  left: 50%;
  @include transform(translate(-50%,-50%));
}
.attendance-item__content{
  padding-left: 80px;
}
.attendance-item__title{
  color: #ca0c10;
  margin-bottom: 10px;
  line-height: 1;
}
.attendance-item__text{
  font-weight: 200;
  font-size: 14px;
  margin-bottom: 10px;
  letter-spacing: 0.4px;
}
.attendance-item__cats{
  font-weight: 200;
  font-size: 14px;
  letter-spacing: 0.4px;
}
.attendance-item-cats__title{
  
}
.attendance-item-cats__cat{
  color: #000;
  padding-bottom: 2px;
  display: inline-block;
  border-bottom: dotted 1px;
  text-transform: lowercase;
  @include transition(0.2s);

  &:hover{
    border-bottom-color: transparent;
    color: #ca0b10;
  }
}
.attendance-item__link{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.attendance-item__cats{
  position: relative;
  z-index:1;
}