.show-license{
    background-color: #f6f8f9;
    padding: 95px;
    padding-top: 85px;
    clear: both;
}
.show-license__content{

}
.show-license__header{
    width: 445px;
    float: left;
    line-height: 1.05;
    letter-spacing: 0.8px;
}
.show-license__btn{
    margin-top: 5px;
    float: right;
    width: 270px;
}
.show-license__btn-link{
    padding-bottom: 17px;
    padding-top: 16px;
    font-size: 18px;
}